<nav [hidden]="getView()"  
class="navbar navbar-expand-lg topnav">
<!--<div class="logo-in-dashbord">
  MIK PRODUCT SUPPORT
  <img src="/assets/img/logo-ubill.png">
</div>-->
    <div  class="container-fluid"   >    
      <!-- <label style="padding-right: 10px;padding-left: 10px;padding-top: 10px;font-weight: bold; size:30px;">
        Track Box</label>  -->
        <img src="/assets/img/trackbox.jpeg"  width="150px" height="40px" *ngIf="isDesktopMenu()" >
        &nbsp;&nbsp;     
        <div class="navbar-wrapper"   *ngIf=" isMobileMenu()" >
          <a class="navbar-brand" href="javascript:void(0)" style="pointer-events: none;">{{ getTitle() }}</a>      
          </div>
          <div class="navbar-wrapper" style="border-left: white solid 1px;"  *ngIf=" isDesktopMenu()" >
            <a class="navbar-brand" href="javascript:void(0)" style="pointer-events: none;">{{ getTitle() }}</a>      
            </div>

        <button  *ngIf=" isMobileMenu()"
        mat-raised-buttons
        class="navbar-toggler btn-rht-mda-qury"
        type="button"
        (click)="sidebarToggle()">  
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon icon-bar"></span>
        <span class="navbar-toggler-icon icon-bar"></span>
        <span class="navbar-toggler-icon icon-bar"></span>
      </button> 

        
      <!-- <ul  class="inline-menu" style="width: 100%;" *ngIf="isDesktopMenu()" >   style=" width: 200%;"  -->
        <ul _ngcontent-irw-c3="" class="inline-menu ng-star-inserted"   *ngIf="isDesktopMenu()"> 
        <li class="nav-item dropdown" *ngIf="menuArray[4]>-1" >
          
          <a class="nav-link" href="javascript:void(0)"id="navbarDropdownMenuLink" data-toggle="dropdown"  [routerLink]="[menuItems[menuArray[4]].path]"   aria-haspopup="true" aria-expanded="false">
          <span class="label-name-crect-stck-ad-nw-sctn-unt"><i class="fa fa-user"></i></span><i>{{[menuItems[menuArray[4]].title]}}</i>
          </a>
          
          </li>


          <!-- <li class="nav-item dropdown" *ngIf="menuArray[70]>-1" >
          
            <a class="nav-link" href="javascript:void(0)"id="navbarDropdownMenuLink" data-toggle="dropdown"  [routerLink]="[menuItems[menuArray[70]].path]"   aria-haspopup="true" aria-expanded="false">
            <span class="label-name-crect-stck-ad-nw-sctn-unt"><i class="fa fa-pencil-square-o "></i></span><i>{{[menuItems[menuArray[70]].title]}}</i>
            </a>
             
            </li> -->


        <li class="nav-item dropdown">

        <a class="nav-link" href="javascript:void(0)"id="navbarDropdownMenuLink" data-toggle="dropdown"   aria-haspopup="true" aria-expanded="false" >
          <span class="label-name-crect-stck-ad-nw-sctn-unt"><i class="fa fa-list-ul"></i></span><i>Reports</i>
        </a>
          <div  class="dropdown-menu dropdown-menu" aria-labelledby="navbarDropdownMenuLink"  >
            
            
                 <ul class="menu">
                
                <li><a  href="#">Port</a>
                 <ul class="sub-menu">
                  <li><a href="#">Sub-Menu 1</a></li>
                  <li><a href="#">Sub-Menu 2</a></li>
                 </ul>
                </li>
               
                 
      
                </ul>
               
            
            <script>$(document).ready(function(){ 
              var touch 	= $('#resp-menu');
              var menu 	= $('.menu');
             
              $(touch).on('click', function(e) {
                e.preventDefault();
                menu.slideToggle();
              });
              
              $(window).resize(function(){
                var w = $(window).width();
                if(w > 767 && menu.is(':hidden')) {
                  menu.removeAttr('style');
                }
              });
              
            });</script>
            <style>
             


nav {
    display: block;
}

.menu {
    display: block;
    padding: 0px;
}

.menu li {
    display: inline-block;
    position: relative;
    z-index: 100;
    width: 100%;
}

.menu li:first-child {
    margin-left: 0;
}

.menu li a {
    text-decoration: none;
    display: block;
    transition: all 0.2s ease-in-out 0s;
}

.menu li a:hover,.menu li:hover>a {

}

/*.menu ul {
    visibility: hidden;
    opacity: 0;
    margin: 0;
    padding: 0;
    width: 170px;
    position: absolute;
    left: 0px;
    background: #fff;
    z-index: 99;
    transform: translate(0,20px);
    transition: all 0.2s ease-out;
}*/

/*.menu ul:after {
    bottom: 100%;
    left: 20%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 6px;
    margin-left: -6px;
}*/

.menu ul li {
    display: block;
    float: none;
    background: none;
    margin: 0;
    padding: 0;
}

.menu ul li a {
    font-size: 12px;
    font-weight: normal;
    display: block;
    color: #333;
    background: #e3e3e3;
}

.menu ul li a:hover,.menu ul li:hover>a {
    background: #5d6071;
    color: #fff;
}

.menu li:hover>ul {
    visibility: visible;
    opacity: 1;
    transform: translate(0,0);
}

.menu ul {
    left: 245px;
    top: 1px;
    visibility: hidden;
    opacity: 0;
    transform: translate(20px,20px);
    transition: all 0.2s ease-out;
    position: absolute;
    padding: 0px;
}

.menu ul:after {
    left: -6px;
    top: 10%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #fff;
    border-width: 6px;
    margin-top: -6px;
}

.menu li>ul ul:hover {
    visibility: visible;
    opacity: 1;
    transform: translate(0,0);
}

.responsive-menu {
    display: none;
    width: 100%;
    padding: 20px 15px;
    background: #374147;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}

.responsive-menu:hover {
    background: #374147;
    color: #fff;
    text-decoration: none;
}

a.homer {
    background: #9ca3da;
}

@media (min-width: 768px) and (max-width: 979px) {

    .menu ul {
        top: 37px;
    }

    .menu li a {
        font-size: 12px;
    }

    
}

@media (max-width: 767px) {
    .mainWrap {
        width: auto;
        padding: 50px 20px;
    }


    nav {
        margin: 0;
        background: none;
    }

    .menu li {
        display: block;
        margin: 0;
    }

    .menu li a {
        background: #fff;
        color: #797979;
    }

    .menu li a:hover,.menu li:hover>a {
        background: #9ca3da;
        color: #fff;
    }

    .menu ul {
        visibility: hidden;
        opacity: 0;
        top: 0;
        left: 0;
        width: 100%;
        transform: initial;
    }

    .menu li:hover>ul {
        visibility: visible;
        opacity: 1;
        position: relative;
        transform: initial;
    }

    .menu ul ul {
        left: 0;
        transform: initial;
    }

    .menu li>ul ul:hover {
        transform: initial;
    }
}
            </style>

            <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[8]>-1" [routerLink]="[menuItems[menuArray[8]].path]" >{{[menuItems[menuArray[8]].title]}}</a>
            

            <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[20]>-1" [routerLink]="[menuItems[menuArray[20]].path]" >{{[menuItems[menuArray[20]].title]}}</a>
            <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[31]>-1" [routerLink]="[menuItems[menuArray[31]].path]" >{{[menuItems[menuArray[31]].title]}}</a> 
            <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[51]>-1" [routerLink]="[menuItems[menuArray[51]].path]" >{{[menuItems[menuArray[51]].title]}}</a> 
            <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[50]>-1" [routerLink]="[menuItems[menuArray[50]].path]" >{{[menuItems[menuArray[50]].title]}}</a> 
            <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[58]>-1" [routerLink]="[menuItems[menuArray[58]].path]" >{{[menuItems[menuArray[58]].title]}}</a>   
            <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[49]>-1" [routerLink]="[menuItems[menuArray[49]].path]" >{{[menuItems[menuArray[49]].title]}}</a>
            <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[66]>-1" [routerLink]="[menuItems[menuArray[66]].path]" >{{[menuItems[menuArray[66]].title]}}</a> 
            <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[18]>-1" [routerLink]="[menuItems[menuArray[18]].path]" >{{[menuItems[menuArray[18]].title]}}</a >
              <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[57]>-1" [routerLink]="[menuItems[menuArray[57]].path]" >{{[menuItems[menuArray[57]].title]}}</a> 
            <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[16]>-1"   [routerLink]="[menuItems[menuArray[16]].path]" >{{[menuItems[menuArray[16]].title]}}</a >
              <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[34]>-1" [routerLink]="[menuItems[menuArray[34]].path]" >{{[menuItems[menuArray[34]].title]}}</a> 
              <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[52]>-1" [routerLink]="[menuItems[menuArray[52]].path]" >{{[menuItems[menuArray[52]].title]}}</a> 
              <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[90]>-1" [routerLink]="[menuItems[menuArray[90]].path]" >{{[menuItems[menuArray[90]].title]}}</a>
              <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[91]>-1" [routerLink]="[menuItems[menuArray[91]].path]" >{{[menuItems[menuArray[91]].title]}}</a>




              <!-- <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[24]>-1" [routerLink]="[menuItems[menuArray[24]].path]" >{{[menuItems[menuArray[24]].title]}}</a > -->
            <!-- <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[23]>-1" [routerLink]="[menuItems[menuArray[23]].path]" >{{[menuItems[menuArray[23]].title]}}</a > -->
            <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[25]>-1" [routerLink]="[menuItems[menuArray[25]].path]" >{{[menuItems[menuArray[25]].title]}}</a>
            <!-- <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[29]>-1" [routerLink]="[menuItems[menuArray[29]].path]" >{{[menuItems[menuArray[29]].title]}}</a>  -->
            
            <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[32]>-1" [routerLink]="[menuItems[menuArray[32]].path]" >{{[menuItems[menuArray[32]].title]}}</a>
            <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[27]>-1" [routerLink]="[menuItems[menuArray[27]].path]" >{{[menuItems[menuArray[27]].title]}}</a>
              
 
            <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[33]>-1" [routerLink]="[menuItems[menuArray[33]].path]" >{{[menuItems[menuArray[33]].title]}}</a> 
            <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[35]>-1" [routerLink]="[menuItems[menuArray[35]].path]" >{{[menuItems[menuArray[35]].title]}}</a> 
            <!-- <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[36]>-1" [routerLink]="[menuItems[menuArray[36]].path]" >{{[menuItems[menuArray[36]].title]}}</a>  -->
            <!-- <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[38]>-1" [routerLink]="[menuItems[menuArray[38]].path]" >{{[menuItems[menuArray[38]].title]}}</a>  -->
            <!-- <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[42]>-1" [routerLink]="[menuItems[menuArray[42]].path]" >{{[menuItems[menuArray[42]].title]}}</a> 
            <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[43]>-1" [routerLink]="[menuItems[menuArray[43]].path]" >{{[menuItems[menuArray[43]].title]}}</a>  -->
            <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[56]>-1" [routerLink]="[menuItems[menuArray[56]].path]" >{{[menuItems[menuArray[56]].title]}}</a>
            
          </div>
        </li>
        <li class="nav-item dropdown">
        <a class="nav-link" href="javascript:void(0)"id="navbarDropdownMenuLink" data-toggle="dropdown"   aria-haspopup="true" aria-expanded="false">
          <span class="label-name-crect-stck-ad-nw-sctn-unt"><i class="fa fa-cog" aria-hidden="true"></i></span><i>Settings</i>  
          <!-- <span class="label-name-crect-stck-ad-nw-sctn-unt"><i class="fa fa-shopping-cart"></i></span><i>Settings</i> -->
        </a>
          <div class="dropdown-menu dropdown-menu"  aria-labelledby="navbarDropdownMenuLink" >
            <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[15]>-1" [routerLink]="[menuItems[menuArray[15]].path]" >{{[menuItems[menuArray[15]].title]}}</a >

            <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[13]>-1" [routerLink]="[menuItems[menuArray[13]].path]" >{{[menuItems[menuArray[13]].title]}}</a >
            <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[14]>-1" [routerLink]="[menuItems[menuArray[14]].path]" >{{[menuItems[menuArray[14]].title]}}</a>
            <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[53]>-1" [routerLink]="[menuItems[menuArray[53]].path]" >{{[menuItems[menuArray[53]].title]}}</a >
              <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[0]>-1" [routerLink]="[menuItems[menuArray[0]].path]">{{[menuItems[menuArray[0]].title]}}</a >
                <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[28]>-1" [routerLink]="[menuItems[menuArray[28]].path]" >{{[menuItems[menuArray[28]].title]}}</a >

            <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[19]>-1" [routerLink]="[menuItems[menuArray[19]].path]" >{{[menuItems[menuArray[19]].title]}}</a >
            <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[17]>-1" [routerLink]="[menuItems[menuArray[17]].path]" >{{[menuItems[menuArray[17]].title]}}</a >
            <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[45]>-1" [routerLink]="[menuItems[menuArray[45]].path]" >{{[menuItems[menuArray[45]].title]}}</a >
            <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[46]>-1" [routerLink]="[menuItems[menuArray[46]].path]" >{{[menuItems[menuArray[46]].title]}}</a >
            <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[47]>-1" [routerLink]="[menuItems[menuArray[47]].path]" >{{[menuItems[menuArray[47]].title]}}</a >
            <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[10]>-1" [routerLink]="[menuItems[menuArray[10]].path]" >{{[menuItems[menuArray[10]].title]}}</a >
            <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[54]>-1" [routerLink]="[menuItems[menuArray[54]].path]" >{{[menuItems[menuArray[54]].title]}}</a >
            <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[55]>-1" [routerLink]="[menuItems[menuArray[55]].path]" >{{[menuItems[menuArray[55]].title]}}</a >
            <!-- <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[61]>-1" [routerLink]="[menuItems[menuArray[61]].path]" >{{[menuItems[menuArray[61]].title]}}</a > -->
            <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[65]>-1" [routerLink]="[menuItems[menuArray[65]].path]" >{{[menuItems[menuArray[65]].title]}}</a >
              <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[1]>-1" [routerLink]="[menuItems[menuArray[1]].path]" >{{[menuItems[menuArray[1]].title]}}</a >

            <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[6]>-1" [routerLink]="[menuItems[menuArray[6]].path]" >{{[menuItems[menuArray[6]].title]}}</a >
              <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[2]>-1" [routerLink]="[menuItems[menuArray[2]].path]">{{[menuItems[menuArray[2]].title]}}</a >

            <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[69]>-1" [routerLink]="[menuItems[menuArray[69]].path]" >{{[menuItems[menuArray[69]].title]}}</a >


          </div>
        </li>
        
       

        <li class="nav-item dropdown">
        <a class="nav-link" href="javascript:void(0)"id="navbarDropdownMenuLink" data-toggle="dropdown"   aria-haspopup="true" aria-expanded="false">
        <span class="label-name-crect-stck-ad-nw-sctn-unt">
          <i class="fa fa-database"></i></span><i>Data</i>
          
        </a>
          <div class="dropdown-menu dropdown-menu" aria-labelledby="navbarDropdownMenuLink" >
            <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[9]>-1" [routerLink]="[menuItems[menuArray[9]].path]" >{{[menuItems[menuArray[9]].title]}}</a >
            <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[26]>-1" [routerLink]="[menuItems[menuArray[26]].path]" >{{[menuItems[menuArray[26]].title]}}</a >
           <!-- <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[7]>-1" [routerLink]="[menuItems[menuArray[7]].path]" >{{[menuItems[menuArray[7]].title]}}</a >  -->
            <!-- <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[52]>-1" [routerLink]="[menuItems[menuArray[52]].path]" >{{[menuItems[menuArray[52]].title]}}</a >
            <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[53]>-1" [routerLink]="[menuItems[menuArray[53]].path]" >{{[menuItems[menuArray[53]].title]}}</a >
            <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[6]>-1" [routerLink]="[menuItems[menuArray[6]].path]" >{{[menuItems[menuArray[6]].title]}}</a >
            <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[58]>-1" [routerLink]="[menuItems[menuArray[58]].path]" >{{[menuItems[menuArray[58]].title]}}</a >
            <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[59]>-1" [routerLink]="[menuItems[menuArray[59]].path]" >{{[menuItems[menuArray[59]].title]}}</a >
            <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[60]>-1" [routerLink]="[menuItems[menuArray[60]].path]" >{{[menuItems[menuArray[60]].title]}}</a >
            <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[61]>-1" [routerLink]="[menuItems[menuArray[61]].path]" >{{[menuItems[menuArray[61]].title]}}</a >
            <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[62]>-1" [routerLink]="[menuItems[menuArray[62]].path]" >{{[menuItems[menuArray[62]].title]}}</a >
          <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[13]>-1" [routerLink]="[menuItems[menuArray[13]].path]" >{{[menuItems[menuArray[13]].title]}}</a > --> 
          </div>
        </li>

        <li class="nav-item dropdown" *ngIf="menuArray[36]>-1">
          
          <a class="nav-link" href="javascript:void(0)"id="navbarDropdownMenuLink" data-toggle="dropdown"  [routerLink]="[menuItems[menuArray[36]].path]"   aria-haspopup="true" aria-expanded="false">
          <span class="label-name-crect-stck-ad-nw-sctn-unt"><i class="fa fa-search"></i></span><i   >{{[menuItems[menuArray[36]].title]}}</i>
          </a>
            <!-- <div  class="dropdown-menu dropdown-menu" aria-labelledby="navbarDropdownMenuLink" >
              <a class="dropdown-item" href="javascript:void(0)"   ></a >
               </div> -->
          </li>
        
        </ul>
        

        

  
      <!-- <div class="container-fluid " >  -->
          <ul class="navbar-nav" style="float:right;margin-right: 44px;margin:0;width:auto;" *ngIf="isDesktopMenu()">
            <li class="nav-item dropdown" style="float: right;margin-right: 25px; margin-top:4px;">
            <a  class="nav-link pr-3"id="navbarDropdownMenuLink"href="javascript:void(0)"data-toggle="dropdown"aria-haspopup="true"aria-expanded="false" >
            <!-- <i class="material-icons mr-3">person</i>  -->
            <i class="fa fa-user" style="color:rgb(34, 33, 33)"></i>
            </a>
            <div class="dropdown-menu dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="left: -6rem;min-width: 10rem;" >
            <div><span class="login-user">{{uname}}</span></div>
            <a class="dropdown-item" (click)='logout()'  href="javascript:void(0)">Logout</a>         
            </div>
            </li>
          </ul>

          <!-- <ul class="navbar-nav" style="float:right;margin-right: 44px;margin:0;width:auto;" >
            <li class="nav-item dropdown" style="float: right;margin-right: 25px;">
              <a class="dropdown-item" href="javascript:void(0)" *ngIf="menuArray[73]>-1" [routerLink]="[menuItems[menuArray[73]].path]" >{{[menuItems[menuArray[73]].title]}}
            
            <i class="fa fa-bell" style="color:rgb(34, 33, 33)"></i>
  
            
            </a>
            
            </li>
          </ul> -->

          
       <!-- </div> -->

     <!-- <ul   class="inline-menu" >
      <li class="nav-item dropdown">
        
      </li>
     </ul> -->
     

      <div class="collapse navbar-collapse justify-content-end" id="navigation">
        <form class="navbar-form">
          <div class="input-group no-border">
            <input
              type="text"
              value=""
              class="form-control"
              placeholder="Search..."/>
            <button
              mat-raised-button
              type="submit"
              class="btn btn-white btn-round btn-just-icon">
              <i class="material-icons">search</i>
              <div class="ripple-container"></div>
            </button>
          </div>
        </form>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">
              <i class="material-icons">dashboard</i>
              <p>
                <span class="d-lg-none d-md-block">Stats</span>
              </p>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link"
              href="javascript:void(0)"
              id="navbarDropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
              <i class="material-icons">notifications</i>
              <span class="notification">5</span>
              <p>
                <span class="d-lg-none d-md-block">Some Actions</span>
              </p>
            </a>
            <div
              class="dropdown-menu dropdown-menu-right"
              aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="javascript:void(0)"
                >Mike John responded to your email</a>
              <a class="dropdown-item" href="javascript:void(0)"
                >You have 5 new tasks</a>
              <a class="dropdown-item" href="javascript:void(0)"
                >You're now friend with Andrew</a>
              <a class="dropdown-item" href="javascript:void(0)"
                >Another Notification</a>
              <a class="dropdown-item" href="javascript:void(0)">Another One</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">
              <i class="material-icons">person</i>
              <p>
                <span class="d-lg-none d-md-block">Account</span>
              </p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <!--
  
  <nav class="navbar navbar-transparent navbar-absolute">
      <div class="container-fluid">
          <div class="navbar-header">
              <button mat-raised-button type="button" class="navbar-toggle" data-toggle="collapse" (click)="sidebarToggle()">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="javascript:void(0)">{{getTitle()}}</a>
          </div>
          <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                  <li>
                      <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                          <i class="material-icons">dashboard</i>
                          <p class="hidden-lg hidden-md">Dashboard</p>
                      </a>
                  </li>
                  <li class="dropdown">
                      <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                          <i class="material-icons">notifications</i>
                          <span class="notification">5</span>
                          <p class="hidden-lg hidden-md">Notifications</p>
                      </a>
                      <ul class="dropdown-menu">
                          <li><a href="javascript:void(0)">Mike John responded to your email</a></li>
                          <li><a href="javascript:void(0)">You have 5 new tasks</a></li>
                          <li><a href="javascript:void(0)">You're now friend with Andrew</a></li>
                          <li><a href="javascript:void(0)">Another Notification</a></li>
                          <li><a href="javascript:void(0)">Another One</a></li>
                      </ul>
                  </li>
                  <li>
                      <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                         <i class="material-icons">person</i>
                         <p class="hidden-lg hidden-md">Profile</p>
                      </a>
                  </li>
              </ul>
  
              <form class="navbar-form navbar-right" role="search">
                  <div class="form-group form-black is-empty">
                      <input type="text" class="form-control" placeholder="Search">
                      <span class="material-input"></span>
                  </div>
                  <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                      <i class="material-icons">search</i><div class="ripple-container"></div>
                  </button>
              </form>
          </div>
      </div>
  </nav> -->