.one { color: rgb(42, 11, 219) ; } 
.three { color:green; } 
.two { color: rgb(255, 0, 0); } 
.Four { color: black; }
.Five { color: rgb(165, 2, 151); }

.mobtn{
    background-color: #0caef7;
    height: 33px!important;
    margin-top: 16px!important;
}
.table thead.sticky-top {
    position: sticky;
    top: 0;
    z-index: 2;
  }
  
  .table-hover tbody tr:hover {
    background-color: #f1f1f1 !important;
  }
  
  .remark-col {
    max-width: 260px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .badge {
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
  }
  