<div *ngIf="issLoading" class="overlay" 

style="margin-top: 21%;margin-left:46% ;
background-color: transparent;"
[style.left.px]="spinleft">
	
	


    <img src="/assets/img/spinner.gif" width="100px" >

</div>
  <div class="main-content screenfixed new-margin-T  dash_big_screen  " >
  <div class="container-fluid2 ">
  
  
  <div class="row mt-2 mb-2 " *ngIf="Entry_View">
   
    <div class="col-md-12 pl-0 pr-0">
      <div class="dt-card mb-0 pb-1 pt-4">         
          <div class="dt-card__body mb-0 pb-0">
              <form class="mb-0"> 

              <div class="form-row">
                  <label class="col-md-0 col-sm-0 col-form-label text-sm-right">User Role<span style="color:#ef071e; font-size: 22px; vertical-align: -webkit-baseline-middle;">*</span></label>
                  <div class="col-md-3 col-sm-3 mb-2">
                      <input type="text" class="form-control"[(ngModel)]="User_Role_.User_Role_Name" name="User_Role_.User_Role_Name"  placeholder="User Role">        
                  </div>
                  <!-- <div class="col-md-1 col-sm-1"></div>  -->
                  <label class="col-md-0 col-sm-0 col-form-label text-sm-right">Under Role<span style="color:#ef071e; font-size: 22px; vertical-align: -webkit-baseline-middle;">*</span></label>                           
                  <div class="col-md-3 col-sm-3 mb-2">
                    <input type="text" class="form-control" [matAutocomplete]="auto3" [(ngModel)]="Under_Role_" name="Under_Role" 
                    (click)="Load_User_Role($event)" (input)="Load_User_Role($event)" placeholder="Under Role">        
                </div> 
                <mat-autocomplete #auto3="matAutocomplete" [displayWith]="display_Under_Role">
                    <mat-option *ngIf="isLoading"><mat-spinner diameter="500"></mat-spinner></mat-option>
                    <ng-container *ngIf="!isLoading">
                    <mat-option *ngFor="let User_Role_ of User_Role_Typeahead_Data" [value]="User_Role_">
                    <span>{{User_Role_.User_Role_Name}}</span>
                    </mat-option>
                    </ng-container>
                    </mat-autocomplete>

                  <div class="col-md-0 col-sm-0 mt-0 ml-1">  
                    <button mat-raised-button type="submit" class="close-button-style pull-right mr-1 " (click)="Close_Click()">Close</button>
                    <button mat-raised-button type="submit" [hidden]="User_Role_Save==false"id="Save_Button"  class="save-button-style pull-right mr-1" (click)="Save_User_Role()">Save</button>
                    <button mat-raised-button type="submit" *ngIf="User_Role_Id>0" id="Duplicate" class="save-button-style pull-right mr-1 bb-6" (click)="Save_Duplicate_User_Details()">Duplicate</button>
                      </div>
              </div>
          </form>
          </div>
      </div>        
    </div> 
  
  
  
  </div>
  <div class="row " *ngIf="!Entry_View">
  
  
   <div class="col-md-12 pr-0 pl-0 mt-2">
    <div class="dt-card mb-2 pb-1 pt-3">         
        <div class="dt-card__body mb-0 pb-0">
            <form class="mb-0">           
            <div class="form-row" style="padding-left: 10px;">
                <label class="col-md-0 col-sm-0 col-form-label text-sm-right mr-0">User Role</label>
            
                <div class="col-md-4  col-sm-4  mb-2">  
                    <input type="text" class="form-control"[(ngModel)]="Search_User_Role_" name="Search_User_Role_"  placeholder="User Role">
                  
                </div>
                
                <div class="col-md-0 col-sm-0 mt-0  ml-1" >                    
                     <button (click)="Search_User_Role()" mat-raised-button type="submit" class="other-button-style pull-left mr-1">Search</button>
                     <button (click)="Create_New()" mat-raised-button type="submit"  class="save-button-style pull-left mr-1 ">Create New</button>

                    </div>
            </div>
        </form>
        </div>
    </div>        
  </div> 
  
  
  
 
  
  <div class="col-md-12 pr-0 pl-0"   [style.height.px]="myInnerHeight" itemSize="10" >
    <div class="dt-module" >            
        <div class="dt-module__container" >
            <!-- style="overflow: scroll;"[style.height.px]="myTotalHeight" -->
            <div class="dt-module__content ps-custom-scrollbar">
                <div class="dt-module__content-inner card-body set-height-scroll-bar-wole-block">   
                    <div class="dt-module__list" [style.height.px]="myInnerHeight"
                    style="overflow-y: scroll"
                    id="profile">
                        <!-- <div class="card-body set-height-scroll-bar-wole-block"> -->
                        <div class="dt-module__list-item pb-2 pt-2" *ngFor="let User_Role_1 of User_Role_Data; let i = index"> 
                            <div class="dt-module__list-item-content">
                                <div class="user-detail">


                                    <span class="icon-background2 mr-1" *ngIf="User_Role_Edit" (click)="Edit_User_Role(User_Role_1,i)" > <mat-icon class="text-green small" >edit</mat-icon></span>
                                    <span class="icon-background3 mr-1" *ngIf="User_Role_Delete" (click)="Delete_User_Role(User_Role_1.User_Role_Id,i)" > <mat-icon class="text-red small" >close</mat-icon></span>
        

                                <!-- <button _ngcontent-jry-c5="" _ngcontent-gxp-c5="" aria-describedby="cdk-describedby-message-0" cdk-describedby-host="" 
                                 class="aligyn-crect-deprtnment btn btn-primary btn-link btn-sm btn-just-icon mat-raised-button" mat-raised-button="" 
                                 mattooltip="Edit Task" ng-reflect-message="Edit Task" ng-reflect-position="above" type="button">
                                 <span class="mat-button-wrapper"><span _ngcontent-jry-c5="" class="mat-button-wrapper"><i _ngcontent-jry-c5="" 
                                     _ngcontent-gxp-c5="" class="material-icons save-material-style" (click)="Edit_User_Role(User_Role_1,i)" >edit</i></span>
                                     <div _ngcontent-jry-c5="" class="mat-button-ripple mat-ripple" matripple="" ng-reflect-centered="false" 
                                     ng-reflect-disabled="false" ng-reflect-trigger="[object HTMLButtonElement]"></div><div _ngcontent-jry-c5="" 
                                     class="mat-button-focus-overlay"></div></span><div class="mat-button-ripple mat-ripple" matripple="" 
                                     ng-reflect-centered="false" ng-reflect-disabled="false" ng-reflect-trigger="[object HTMLButtonElement]"></div>
                                     <div class="mat-button-focus-overlay"></div></button> 
                                     <button _ngcontent-gdi-c11="" class="btn btn-danger btn-link btn-sm btn-just-icon mat-raised-button" 
                                    mat-raised-button="" mattooltip="Remove" type="button" aria-describedby="cdk-describedby-message-1" 
                                    cdk-describedby-host="" ng-reflect-position="above" ng-reflect-message="Remove"><span class="mat-button-wrapper">
                                    <i _ngcontent-gdi-c11="" class="material-icons delete-material-style"  (click)="Delete_User_Role(User_Role_1.User_Role_Id,i)" >close</i></span>
                                    <div class="mat-button-ripple mat-ripple" matripple="" ng-reflect-centered="false" ng-reflect-disabled="false" 
                                    ng-reflect-trigger="[object HTMLButtonElement]"></div><div class="mat-button-focus-overlay"></div></button>                                   -->
                                    <span class="user-name">{{User_Role_1["User_Role_Name"]}}</span>
                        
                                </div>
                         
                            </div>                                
                        </div>
                       
                <!-- </div> -->
                   
                     
                    </div>
                </div>
              
            </div>
            <!-- <div class="form-group">  
                <div class="col-md-6" style="float: right;">                     
            <button mat-raised-button type="submit" (click)="previous_Click()"  class="btn btn-danger change-colour-button buttons-next-previous-edit-portion p-2" style="background: none;"><i class="fa fa-chevron-left" aria-hidden="true" style="color:#5f6368;"></i></button>
            <button mat-raised-button type="submit"  (click)="Next_Click()" class="btn btn-danger change-colour-button buttons-next-previous-edit-portion p-2" style="background: none;"><i class="fa fa-chevron-right" aria-hidden="true" style="color: #5f6368;"></i></button>
            </div>
        </div> -->
        </div>
       
      </div>
  </div>  
    </div>







    <div class="row">
        <div class="col-md-12 " style="border: 1">
            <div class="dt-card mb-0 pb-1 " style="background-color: #ffff;">    
              <div class="card-body card-body-for-searchedit-lead-section ">
                        <div class="table-responsive" [style.height.px]="myInnerHeight" style="overflow-y: scroll;min-height:150px;" id="profile">
                            <!--  [style.height.px]="myInnerHeight" style="overflow-y: scroll;height: 600px;" -->
                          <table class="table table-hover colour-change-title-searchsection-table heading-styles-as-gmail-format " style="font-size: 15px;">
                            <thead>
                                <!-- <div>  _ngcontent-xmy-c9=""-->
                                <tr>
                                    <!-- <th class="crect-margin-width-table-header-title"></th> -->
                                    <th> <label class="text-dark" style="    margin-left: 1px;
                                        margin-top: 26px;"><b>Select Menus<span style="color:#ef071e; font-size: 22px; vertical-align: -webkit-baseline-middle;">*</span></b></label> </th>
                                   
                                    <th> <label class="text-dark" style="
                                        margin-top: 28px;"><b>Select All</b></label> </th>
                                   
                                    <th class="crect-margin-width-table-header-title">
                                        <div _ngcontent-xmy-c9="" class="form-check">
                                            <label _ngcontent-xmy-c9="" class="form-check-label">
                                            <input _ngcontent-xmy-c9="" checked="" class="form-check-input"
                                            [(ngModel)]="Select_View" (click)="View_Click()" type="checkbox" name="Select_View"
                                             value="">
                                            <span _ngcontent-xmy-c9="" class="form-check-sign" style="margin-top: 35px;margin-left: 10px;" >
                                            <span _ngcontent-xmy-c9="" class="check"></span>
                                            </span>
                                            </label>
                                            </div>   
                                    </th>
                                    <th class="crect-margin-width-table-header-title">
                                        <div _ngcontent-xmy-c9="" class="form-check">
                                            <label _ngcontent-xmy-c9="" class="form-check-label">
                                            <input _ngcontent-xmy-c9="" checked="" class="form-check-input"
                                            [(ngModel)]="Select_Save" (click)="Save_Click()"  type="checkbox" name="Select_Save"
                                           value="">
                                            <span _ngcontent-xmy-c9="" class="form-check-sign" style="margin-top: 35px;margin-left: 11px;">
                                            <span _ngcontent-xmy-c9="" class="check"></span>
                                            </span>
                                            </label>
                                            </div>
                                    </th>
                                    <th class="crect-margin-width-table-header-title">
                                        <div _ngcontent-xmy-c9="" class="form-check">
                                            <label _ngcontent-xmy-c9="" class="form-check-label">
                                            <input _ngcontent-xmy-c9="" checked="" class="form-check-input"
                                            [(ngModel)]="Select_Edit" (click)="Edit_Click()"  type="checkbox" name= "Select_Edit"
                                          value="">
                                            <span _ngcontent-xmy-c9="" class="form-check-sign" style="margin-top:35px;margin-left:11px;">
                                            <span _ngcontent-xmy-c9="" class="check"></span>
                                            </span>
                                            </label>
                                            </div>  
                                    </th>
                                    <th class="crect-margin-width-table-header-title">
                                        <div _ngcontent-xmy-c9="" class="form-check">
                                            <label _ngcontent-xmy-c9="" class="form-check-label">
                                            <input _ngcontent-xmy-c9="" checked="" class="form-check-input"
                                            [(ngModel)]="Select_Delete" (click)="Delete_Click()"  type="checkbox" name= "Select_Delete"
                                         value="">
                                            <span _ngcontent-xmy-c9="" class="form-check-sign" style="margin-top:35px;margin-left:7px;">
                                            <span _ngcontent-xmy-c9="" class="check"></span>
                                            </span>
                                            </label>
                                            </div>    
                                    </th>
                        </tr>
                    <!-- </div> -->
                              <th>
                                Sl.No
                              </th>
                              <th>
                            Menu
                              </th>
                              <th>
                              View
                              </th>
                              <th>
                                  Save
                              </th>
                              <th >
                            Edit
                              </th>
                              <th >
                             Delete
                              </th>
                         
                            </thead>
                            <tbody   *ngFor="let User_Menu_Selection1 of User_Menu_Selection_Data; let i = index" >
                              <tr>
                        
                                <td>
                                {{i+1}}
                                </td>
                                <td>
                                    {{User_Menu_Selection1["Menu_Name"]}}
                                </td>
                               
                                <td _ngcontent-xmy-c9="" class="crect-margin-width-table-header-title"><!--class="crect-margin-width-table-header-title"-->
                                    <div _ngcontent-xmy-c9="" class="form-check">
                                    <label _ngcontent-xmy-c9="" class="form-check-label">
                                    <input _ngcontent-xmy-c9="" checked="" class="form-check-input"
                                    [(ngModel)]="User_Menu_Selection1.IsView" type="checkbox" name={{User_Menu_Selection1.Menu_Id}}{{User_Menu_Selection1.IsView}} 
                                    [checked]="User_Menu_Selection1.IsView" value="">
                                    <span _ngcontent-xmy-c9="" class="form-check-sign" style="margin-top: 15px;margin-left: 11px;">
                                    <span _ngcontent-xmy-c9="" class="check"></span>
                                    </span>
                                    </label>
                                    </div>
                                    </td>
                                    <td _ngcontent-xmy-c9="" class="crect-margin-width-table-header-title">
                                    <div _ngcontent-xmy-c9="" class="form-check" [hidden]="User_Menu_Selection1.Save_Check==false">
                                    <label _ngcontent-xmy-c9="" class="form-check-label">
                                    <input type="checkbox"  name={{User_Menu_Selection1.Menu_Id}}{{User_Menu_Selection1.IsSave}} 
                                    class="form-check-input"  [(ngModel)]="User_Menu_Selection1.IsSave" 
                                    [checked]="User_Menu_Selection1.IsSave" >
                                    <span _ngcontent-xmy-c9="" class="form-check-sign"  style="    margin-top: 15px;margin-left: 11px;">
                                    <span _ngcontent-xmy-c9="" class="check"></span>
                                    </span>
                                    </label>
                                    </div>
                                    </td>
                                    <td _ngcontent-xmy-c9="" class="crect-margin-width-table-header-title">
                                    <div _ngcontent-xmy-c9="" class="form-check"[hidden]="User_Menu_Selection1.Edit_Check==false" >
                                    <label _ngcontent-xmy-c9="" class="form-check-label">
                                    
                                    <input type="checkbox" name={{User_Menu_Selection1.Menu_Id}}{{User_Menu_Selection1.IsEdit}} 
                                    class="form-check-input"  [(ngModel)]="User_Menu_Selection1.IsEdit" 
                                    [checked]="User_Menu_Selection1.IsEdit">
                                    <span _ngcontent-xmy-c9="" class="form-check-sign"  style="    margin-top: 15px;margin-left: 11px;">
                                    <span _ngcontent-xmy-c9="" class="check"></span>
                                    </span>
                                    </label>
                                    </div>
                                    </td>
                                    <td _ngcontent-xmy-c9="" class="crect-margin-width-table-header-title">
                                    <div _ngcontent-xmy-c9="" class="form-check" [hidden]="User_Menu_Selection1.Delete_Check==false" >
                                    <label _ngcontent-xmy-c9="" class="form-check-label">
                                    <input type="checkbox" name={{User_Menu_Selection1.Menu_Id}}{{User_Menu_Selection1.IsDelete}} 
                                    class="form-check-input"  [(ngModel)]="User_Menu_Selection1.IsDelete" 
                                    [checked]="User_Menu_Selection1.IsDelete">
                                    <span _ngcontent-xmy-c9="" class="form-check-sign"  style="    margin-top: 15px;margin-left: 11px;">
                                    <span _ngcontent-xmy-c9="" class="check"></span>
                                    </span>
                                    </label>
                                    </div>
                                    </td>
                               
                              </tr>
                              </tbody>
                            </table>
                          
        
                          </div>
        
                </div>
               
               
                </div>
        
              </div>
    
    </div>










  </div>