<div *ngIf="issLoading" class="overlay" 

style="margin-top: 21%;margin-left:46% ;
background-color: transparent;"
[style.left.px]="spinleft">
	
	

    <img src="/assets/img/spinner.gif" width="100px" >

</div>
  <div class="main-content screenfixed new-margin-T" >
  <div class="container-fluid2 right-sec">
  
  
  <div class="row mt-2" *ngIf="Entry_View">
   
    <div class="col-md-12 pl-0 pr-0">
      <div class="dt-card mb-0 pb-1 pt-4">         
          <div class="dt-card__body mb-0 pb-0 ">
              <form  class="mb-0">           
              <div class="form-row mb-0">
                  <label class="col-md-2 col-sm-0 col-form-label text-sm-right">Application Status<span style="color:#ef071e; font-size: 22px; vertical-align: -webkit-baseline-middle;">*</span> </label>
                  <div class="col-md-4 col-sm-3 mb-2">
                      <input type="text" class="form-control" [(ngModel)]="Application_Status_.Application_Status_Name"    name="Application_Status_.Application_Status_Name"  placeholder="Application Status">
                     
                  </div>
                  <label
                  class="col-md-2 col-sm-0 col-form-label text-sm-right"
                  >Application Status Group       <span style="color:#ef071e; font-size: 22px; vertical-align: -webkit-baseline-middle;">*</span>    </label
              >
                          

              <!-- <div class="col-md-3 col-sm-3 mb-1">
      <input type="text" [(ngModel)]="Student_.Country_Name" name="Student_.Country_Name" class="form-control" placeholder="Country">
  </div>                         -->
              <div class="col-md-4 col-sm-3 mb-2">
                  <input
                      Input
                      type="text"
                      class="form-control"
                      [matAutocomplete]="autoc8"
                      placeholder="Application Status Group "
                      [(ngModel)]="Application_Group_"
                      name="Application_Group_"
                      id="Application_Group_"
                      (click)="Search_Application_Group_Typeahead($event)"
                      (keyup)="Search_Application_Group_Typeahead($event)"
                  />
              </div>
              <mat-autocomplete
                  #autoc8="matAutocomplete"
                  [displayWith]="display_Application_Group"
              >
                  <mat-option *ngIf="issLoading">
                      <mat-spinner diameter="500"></mat-spinner>
                  </mat-option>
                  <ng-container *ngIf="!issLoading">
                      <mat-option
                          *ngFor="let Program_Application_Group_T of Application_Group_Data_Filter"
                          [value]="Program_Application_Group_T"
                      >
                          <span name="Program_Application_Group_T.Application_Group_Name">{{
                            Program_Application_Group_T.Application_Group_Name
                          }}</span>
                      </mat-option>
                  </ng-container>
              </mat-autocomplete>

</div>
<div class="form-row mb-0">
              <label
              class="col-md-2 col-lg-2  col-form-label text-sm-right x-tra-label"
              
              >Transfer Status</label
          >
        
                 
          <div class="col-md-4 col-sm-0 mb-1 x-tra-label-mob" style="padding-top: 6px;">
              <div
                  _ngcontent-xmy-c9=""
                  class="checkbox-to-crect-sales-search-section"
              >
                  <div
                      _ngcontent-xmy-c9=""
                      class="form-check uper-dte-lbel-sales-sctn-new pl-0"
                  >
                      <label _ngcontent-xmy-c9="" class="form-check-label">
                          <input
                              type="checkbox"
                              class="form-check-input"
                              name="Application_Status_.Transfer_Status"
                              [(ngModel)]="Application_Status_.Transfer_Status"
                          />
                          <span _ngcontent-xmy-c9="" class="form-check-sign"
                              ><span _ngcontent-xmy-c9="" class="check"> </span>
                          </span>
                      </label>
                  </div>
              </div>
          </div>

          <label
				class="col-md-2 col-sm-2 col-form-label text-sm-right"
				*ngIf="Application_Status_.Transfer_Status"
				>Transfer Department</label
									>

          <div class="col-md-4 col-sm-3 mb-1"  *ngIf="Application_Status_.Transfer_Status">
            <select
                [(ngModel)]="Automatic_Department_"
                name="Automatic_Department_"
                required
                class="form-control p-0 pl-1"
            >
                <option
                    *ngFor="let Automatic_T1 of Automatic_Department_Data"
                    [ngValue]="Automatic_T1"
                >
                    {{ Automatic_T1.Department_Name }}
                </option>
            </select>
        </div>


    </div>
<br>
<div class="form-row mb-0">
        <label
        class="col-md-2 col-lg-2  col-form-label text-sm-right x-tra-label"
        
        >Notification Status</label
    >
           
    <div class="col-md-4 col-sm-0 mb-1 x-tra-label-mob" style="padding-top: 6px;">
        <div
            _ngcontent-xmy-c9=""
            class="checkbox-to-crect-sales-search-section"
        >
            <div
                _ngcontent-xmy-c9=""
                class="form-check uper-dte-lbel-sales-sctn-new pl-0"
            >
                <label _ngcontent-xmy-c9="" class="form-check-label">
                    <input
                        type="checkbox"
                        class="form-check-input"
                        name="Application_Status_.Notification_Status"
                        [(ngModel)]="Application_Status_.Notification_Status"
                    />
                    <span _ngcontent-xmy-c9="" class="form-check-sign"
                        ><span _ngcontent-xmy-c9="" class="check"> </span>
                    </span>
                </label>
            </div>
        </div>
    </div>

    <label
    class="col-md-2 col-sm-2 col-form-label text-sm-right"
    *ngIf="Application_Status_.Notification_Status"
    >Notification Department</label
                        >
    

    <div class="col-md-4 col-sm-3 mb-1"  *ngIf="Application_Status_.Notification_Status">
      <select
          [(ngModel)]="Notification_Department_"
          name="Notification_Department_"
          required
          class="form-control p-0 pl-1"
      >
          <option
              *ngFor="let Automatic_T of Automatic_Department_Data"
              [ngValue]="Automatic_T"
          >
              {{ Automatic_T.Department_Name }}
          </option>
      </select>
  </div>
</div>
<div class="form-row mb-0">
  <label
    class="col-md-2 col-sm-2 col-form-label text-sm-right"
    
    >Restriction</label
                        >
    

    <div class="col-md-4 col-sm-3 mb-1"  >
      <select
          [(ngModel)]="Application_Restriction_Group_"
          name="Application_Restriction_Group_"
          required
          class="form-control p-0 pl-1"
      >
          <option
              *ngFor="let Rstriction_T of Group_restriction_Data"
              [ngValue]="Rstriction_T"
          >
              {{ Rstriction_T.Application_Group_Name }}
          </option>
      </select>
  </div>
   <div class="" style="margin-left: auto;">  
                       <button (click)="Close_Click()" mat-raised-button type="submit" class="close-button-style pull-left mr-1 ">Close</button>                
                       <button (click)="Save_Application_Status()" *ngIf="Application_Status_Save" mat-raised-button type="submit" class="save-button-style pull-left  mr-1 ">Save</button>
                      </div>
</div>








                
                 
             
          </form>
          </div>
      </div>        
    </div> 
  
  
  
  </div>
  <div class="row mt-2" *ngIf="!Entry_View">
  
   <div class="col-md-12 pl-0 pr-0 mb-2">
    <div class="dt-card mb-0 pb-1 pt-3">         
        <div class="dt-card__body mb-0 pb-0 ">
            <form class="mb-0">           
            <div class="form-row">
                <label class="col-md-0 col-sm-0 col-form-label text-sm-right">Application Status</label>
                <div class="col-md-3 col-sm-3 mb-2">
                    <input type="text" class="form-control" [(ngModel)]="Application_Name_Search" name="Search_Name"  placeholder="Application Status">
                   
                </div>
                
                <div class="col-md-4 col-sm-4 mt-0">   
                    <!-- class="btn btn-danger pull-right ">Create New -->
                    <button (click)="Search_Application_Status()" mat-raised-button type="submit" class="other-button-style pull-left mr-1">Search</button>
                     <button (click)="Create_New()"  mat-raised-button type="submit"  class=" save-button-style pull-left mr-1 ">Create New</button>
                    </div>
            </div>
        </form>
        </div>
    </div>        
  </div> 
  
  
  
  
  <div class="col-md-12 mt-0 pl-0 pr-0" [style.height.px]="myInnerHeight" itemSize="10">   
    <div class="dt-module" >            
        <div class="dt-module__container" >
            <div class="dt-module__content ps-custom-scrollbar" >
                <div class="dt-module__content-inner  pl-0 pr-0 card-body set-height-scroll-bar-wole-block">   
                    <div class="dt-module__list  pl-0 pr-0" [style.height.px]="myInnerHeight"
                    style="overflow-y: scroll"
                    id="profile">
                        <!-- <div class="card-body set-height-scroll-bar-wole-block"> -->
                        <div class="dt-module__list-item pb-2 pt-2" *ngFor="let Application_Status_y of Application_Status_Data; let i = index"> 
                            <div class="dt-module__list-item-content">
                                <div class="user-detail">

                                    <span class="icon-background2 mr-1" *ngIf="Application_Status_Edit" (click)="Edit_Application_Status(Application_Status_y,i)" > <mat-icon class="text-green small" >edit</mat-icon></span>
                                    <span class="icon-background3 mr-1"  *ngIf="Application_Status_Delete" (click)="Delete_Application_Status(Application_Status_y.Application_status_Id,i)" > <mat-icon class="text-red small" >close</mat-icon></span>
        

                                <!-- <button _ngcontent-jry-c5="" _ngcontent-gxp-c5="" aria-describedby="cdk-describedby-message-0" cdk-describedby-host="" 
                                    class="aligyn-crect-deprtnment btn btn-primary btn-link btn-sm btn-just-icon mat-raised-button" mat-raised-button="" 
                                    mattooltip="Edit Task" ng-reflect-message="Edit Task" ng-reflect-position="above" type="button">
                                    <span class="mat-button-wrapper"><span _ngcontent-jry-c5="" class="mat-button-wrapper"><i _ngcontent-jry-c5="" 
                                     _ngcontent-gxp-c5="" class="material-icons save-material-style" (click)="Edit_Enquiry_Source(Enquiry_Source,i)" >edit</i></span>
                                     <div _ngcontent-jry-c5="" class="mat-button-ripple mat-ripple" matripple="" ng-reflect-centered="false" 
                                     ng-reflect-disabled="false" ng-reflect-trigger="[object HTMLButtonElement]"></div><div _ngcontent-jry-c5="" 
                                     class="mat-button-focus-overlay"></div></span><div class="mat-button-ripple mat-ripple" matripple="" 
                                     ng-reflect-centered="false" ng-reflect-disabled="false" ng-reflect-trigger="[object HTMLButtonElement]"></div>
                                     <div class="mat-button-focus-overlay"></div>
                                </button>  
                                     <button _ngcontent-gdi-c11="" class="btn btn-danger btn-link btn-sm btn-just-icon mat-raised-button" 
                                     mat-raised-button="" mattooltip="Remove" type="button" aria-describedby="cdk-describedby-message-1" 
                                     cdk-describedby-host="" ng-reflect-position="above" ng-reflect-message="Remove"><span class="mat-button-wrapper">
                                     <i _ngcontent-gdi-c11="" class="material-icons delete-material-style" (click)="Delete_Enquiry_Source(Enquiry_Source.Enquiry_Source_Id,i)"  >close</i></span>
                                     <div class="mat-button-ripple mat-ripple" matripple="" ng-reflect-centered="false" ng-reflect-disabled="false" 
                                     ng-reflect-trigger="[object HTMLButtonElement]"></div><div class="mat-button-focus-overlay"></div>
                                    </button> -->
                                    <span class="user-name">{{Application_Status_y["Application_Status_Name"]}}</span>
                                </div>
                            </div>                                
                        </div>
                       
                <!-- </div> -->
                   
                     
                    </div>
                </div>
                <!-- <div class="form-group">                       
                    <button type="submit" (click)="Search_Client_Accounts()" class="btn btn-primary">Previous</button>
                    <button type="submit" (click)="Create_New()" class="btn btn-primary">Next</button>                             
                </div> -->
            </div>
            <!-- <div class="form-group">  
                <div class="col-md-6" style="float: right;">                     
            <button mat-raised-button type="submit" (click)="previous_Click()"  class="btn btn-danger change-colour-button buttons-next-previous-edit-portion p-2" style="background: none;"><i class="fa fa-chevron-left" aria-hidden="true" style="color:#5f6368;"></i></button>
            <button mat-raised-button type="submit"  (click)="Next_Click()" class="btn btn-danger change-colour-button buttons-next-previous-edit-portion p-2" style="background: none;"><i class="fa fa-chevron-right" aria-hidden="true" style="color: #5f6368;"></i></button>
            </div>
        </div> -->
        </div>
       
      </div>
  </div>  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  </div>
  </div>