.one { color: rgb(42, 11, 219) ; } 
.three { color:green; } 
.two { color: rgb(255, 0, 0); } 
.Four { color: black; }
.Five { color: rgb(165, 2, 151); }

.navbar-brand{
    color: #000;
    padding: 15px 30px;
    height: 0px;
    cursor: pointer;
  }
  .tab-nav{
    box-shadow: none;
  }
  .navbar-inverse{
    margin-bottom: 3%;
  }
  ul {
    list-style-type: none;
    margin: 0;
  }
  li {
    float: left;
    /* border: solid 1px; */  
  }
  .tab-list li>a:after {
    content: none ;
  }
  .table-head{
    background-color: #145388;
  }
  .table-head th{
    color: #fff;
  }
  .half-button {
    border-radius: 15px 3px !important;
  }
  .btn-save{
    padding-top: 35px;
  } 
  .tab-active{
   color: #0db195 !important;
    font-weight: bold;
  }
  .current-tab{
    border-bottom: none;
    border-top: solid 5px ;
  }
  #mesg {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .column {
    float: left;
    width: 20%;
    padding: 10px;
  }
  .two { color: rgb(42, 11, 219) ; } 
  .Four { color:green; } 
  .three { color: rgb(255, 0, 0); } 
  .six { color:rgba(12, 11, 12, 0.842); }
  .Five { color: rgb(165, 2, 151); }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
  }
  .seven { 
    border-left: 16px solid #1de45c;
   /* background-image: url("assets/img/Green_Tick"); */
   background-image: '/img/Green_Tick.png';
   }
    .hover1 {background-color:#c4f7c4} 
  .eight { 
    border-left: 16px solid #fff;
   } 
  .smallfile
  {
    font-size: 64px;
    margin-top: 8px;
  }
  .smalldown
  {
    font-size: 24px;
      margin-top: 6px;
      margin-left: -1px;
  }
  .smalldelete
  {
    font-size: 24px;
    margin-top: 6px;
    margin-left: -1px;
  }
  .txt-file
  {
    color:  #fdebdd !important;
  }
  .icon-bgdown {
    cursor: pointer;
    padding: 20px;
    width: 41px;
    height: 40px;
    background-color: #dff5df;
    border-radius: 65px;
    display: inline-block;
    padding-top: 2px;
    padding-left: 4px;
    padding-right: 3px;
    margin-top: 24px;
    /* border-style: dashed; */
    border-color: #dff5df;
    /* border-style: dashed; */
    border-color: #8abb8a;
  }
  .icon-delete {
    cursor: pointer;
    padding: 20px;
    width: 42px;
    height: 41px;
    background-color: #f7ecec;
    border-radius: 65px;
    display: inline-block;
    padding-top: 2px;
    padding-left: 4px;
    padding-right: 3px;
    margin-top: 24px;
    /* border-style: dashed; */
    border-color: #f7ecec;
    /* border-style: dashed; */
    border-color: #ffb0b0;
  }
  
  
  
  
  .mr-2, .mx-2 {
    margin-right: 0.8rem !important;
    font-size: 33px;
  }
  
  #snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #227a77;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline .mat-form-field-outline-end 
  
  {
    background-color: white;
    /* border-radius: 2px; */
    bottom: 9px !important;
    border-radius: 0;
    /* border: 1px solid rgba(0,0,0,.12) !important; */
  }
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline .mat-form-field-outline-start 
  
  {
    background-color: white;
    /* border-radius: 2px; */
    bottom: 9px !important;
    border-radius: 0;
    /* border: 1px solid rgba(0,0,0,.12) !important; */
  }
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    /* padding: 4%; */
    height: 40px;
  }
  /* ::ng-deep .mat-select-arrow
  {
    margin: 30px 15px;
  } */
  
  
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline .mat-form-field-flex
  {
    margin-top: -40em;
  }
  ::ng-deep .mat-form-field-infix {
    top: -3px;
  }
  
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgb(211, 29, 29);
  }
  .white
  {
    background-color: white;
  }
  
  
  .md-tooltip {
    height: auto;
    line-height: 20px;
  }
  
  /* .mat-form-field-outline-start
  {
    border-radius: 0;
  }
  .mat-form-field-outline-end
  {
    border-radius: 0;
  } */
  /* ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start
  {
    border-radius: 0;
  } */
  /* ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end
  {
    border-radius: 0;
  }
  */
  
  .columnfile {
    width: 26%;
    display: block;
    margin-bottom: 20px;
  }
  
  
  /* Style the counter cards */
  .cardfiles {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #fff;
  
  border-radius: 18px;
  }
  
  
  
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .refundhr{
    width: 120%!important;
      margin-left: -57px!important;
  }
  
  .footer {
    position: fixed;
    bottom: 0;
  
  }
  
  .twobg1{
    /* background-color: rgb(245, 153, 153); */
    border-radius: 26px;
    /* background-color:  rgb(210, 249, 216);
    border-color:  rgb(210, 249, 216); */
    box-shadow:none !important;
  
    position: relative;
    padding: 9px 14px 7px 14px;
    margin: 0.3125rem 1px;
    min-width: 140px!important;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.42857143;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    letter-spacing: 0;
    cursor: pointer;     
    border: 0;
    outline: 0;     
   
    }

    /* .tab-student-entry-page .bn-1{
      background-color: #4fc1aa;
      color: #fff;
    }
    .tab-student-entry-page a:hover{
      background-color: #fff;
      color: #757575 !important;
    }
    .tab-student-entry-page .bn-1:hover i {
      color: #25bda4 !important;
  }
  .tab-student-entry-page a i {
    color: #fff !important;
}
.tab-student-entry-page .bn-4 {
  background-color: #88c5e8 !important;
  color: #fff !important;
}
.tab-student-entry-page .bn-4:hover {
  background-color: #fff !important;
  
}
.tab-student-entry-page .bn-4:hover i {
  color: #88c5e8 !important;
  
} */
/*  */
.tab-student-entry .before-btn:before {
  display: none;
}
.tab-student-entry .mat-button-toggle-appearance-standard{
  /* background: #fff; */
  padding: 17px 0;
}
 .tab-student-entry .mat-button-toggle-appearance-standard:active i{
  /* background: #fff; */
  color: #fff;
}
.tab-student-entry .mat-button-toggle-appearance-standard:hover i{
  /* background: #fff; */
  color: #fff;
}
.tab-student-entry .mat-button-toggle-appearance-standard:hover{
  /* background: #fff; */
  color: #fff;
}
  
.mat-button-toggle-checked.b1{
  background-color: #25bda4;
  color: #fff;
}


.mat-button-toggle-checked.b2 {
  background-color: #215dbe;
  color: #fff;
}
.mat-button-toggle-checked i{
  color: #fff;
}

.profile-close mat-icon{
  transition: all .5s ease-in-out;
}
.profile-close mat-icon:hover{
  transform: rotate(90deg);
}
/* .table label{
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
} */
.checkbox label, .radio label, label{
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
}
.font-table label  b{
  line-height: 1.5em !important;
    font-size: 15px !important;
}
.new-tr th{
  position: sticky !important;
    top: 0 !important;
}

@media only screen and (min-width: 1281px) {
  .dash_big_screen{
  margin-left: 90px;
  }
}
@media only screen and (max-width: 1280px) {
      .dash_big_screen{
          margin-left: 60px;
      }
}