/*my-app .main-panel .main-content .card{
    animation-duration: 750ms;
    opacity: 0;
    animation-name: fadeIn;
    animation-fill-mode: forwards;
}*/

.tim-typo{
  padding-left: 25%;
  margin-bottom: 40px;
  position: relative;
  width: 100%;
}
.tim-typo .tim-note{
  bottom: 5px;
  color: #c0c1c2;
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  left: 0;
  margin-left: 20px;
  position: absolute;
  width: 260px;
}
.card-header{margin-left: 0px; margin-right: 0px; margin-top: 0px;}
.overlay {
  position:fixed;
  display:block;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background-color:rgba(255,255,255,.5);
  z-index:99999;
}
.spinner {
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-75%,-75%);  
}
.overflow-scroll{
  overflow-y: scroll;
  overflow-x: hidden;
}

.row-height{
  height: 45px;
}
.td-padding{
  padding: 3px 0px 0px 7px!important;
}
.bottom{
  bottom: 0.5rem;
}

.bottom-light {
  bottom: 0.3rem;
}

.font-weight{
  font-weight: 600 !important;
}
.padding-5{
  padding: 5px;
}


.mat-form-field-appearance-legacy .mat-form-field-underline {
  height: 0px !important;
}
.mat-form-field-appearance-legacy .mat-form-field-ripple{
  height: 0px !important;
}


.inline-menu, .inline-menu li{
  display: inline-block;
  margin-bottom: 0px;
  padding-left: 0px;
  margin: 0 9px;
}
.inline-menu li .nav-link{
  color:#545a6d !important;  
  
  /* padding: 0.8rem 10px !important; */

}
.inline-menu li a i{
  font-style: normal;
  font-size: 17px;
  font-weight: 500;
  color: #fff;
  transition: .4s;
}
.navbar-nav, .navbar-nav li{
  display: inline-block;
}
.nav-link .material-icons{
  color: #fff;
}
.navbar .navbar-nav .nav-item .nav-link {
  padding: 0.8375rem;
  padding-bottom: 5px;
}
.nav-link {  
  padding: 0.8rem 5px;
}

.login-user{ 
  display: flex;  
  color: #17c240;
  font-weight: 600;
  text-decoration: none;
  font-size: 0.8525rem;  
  margin: 0 0.3125rem;  
  padding: 0.625rem 1.45rem;
  overflow: hidden;
  line-height: 1.42857143;
  text-overflow: ellipsis;
  }

  .right-sec{
    width: 97%;
   margin-left: 3%;
  }
  .right-sec1{
    width: 97%;

  }

  .right-sec2{
    width: 97%;
    margin-left: 3%;
 
  }
 
  .container-fluid2 {
    width: 94%;
   
  }
  /* Small Devices (Phones, less than 768px) */
@media (max-width: 767.98px) {
  .col-md-4, .col-md-3 {
    width: 100%;
    margin-bottom: 10px;
  }

  .col-md-12 {
    width: 100%;
  }

  label.col-md-3, label.col-md-5 {
 
    text-align: left !important;
    padding-bottom: 5px;
    width: 100% !important;

  }
 .width{
  width: 136% !important;
 }

  mat-form-field, select, input {
    width: 100%;
    margin-top: 5px;
  }
  mat-form-field, select, input {
    width: 100%;
    margin-top: 5px;
  }
  .save-button-style, .close-button-style {

    margin-bottom: 10px;
  }

  .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  
  .alighyn-div-margin-search-item-group {
    padding-left: 0 !important;
  }
  
  .icon-background2, .icon-background3 {
    margin-right: 5px;
  }
  .dt-module {
    border-radius: 0.4rem;
    margin-left: 0rem;
    margin-bottom: 0px !important;
    margin-top: 1rem !important;
}
}

/* Adjusting the scrollable section for mobile and smaller viewports */
.set-height-scroll-bar-wole-block {
  height: 300px;
  overflow: scroll;
  scrollbar-width:none;
}

.dt-module__list {
  padding: 0 !important;
}
