.one { color: rgb(42, 11, 219) ; } 
.three { color:green; } 
.two { color: rgb(255, 0, 0); } 
.Four { color: black; }
.Five { color: rgb(165, 2, 151); }

.mobtn{
    background-color: #0caef7;
    height: 33px!important;
    margin-top: 16px!important;
}