<!-- <div *ngIf="issLoading" class="overlay">
    <mat-progress-spinner class="spinner" [color]="color" [mode]="mode" [value]="value">
    </mat-progress-spinner>
</div>
<div class="main-content">
    <div class="container-fluid">
        <div class="row" *ngIf="Entry_View">
            <div class="col-md-12">
                <nav class="navbar navbar-inverse tab-nav">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <ul class="tab-list">
                                <li class="pl-5 pr-5 current-tab"><a class="navbar-brand mb-4 tab-active" (click)="Tab_Click(1)" onclick="addActive(this)">PROFILE </a></li>
                                <li *ngIf="Student_Id_Edit>0" class="pl-5 pr-5"><a class="navbar-brand mb-4 " (click)="Tab_Click(2)" onclick="addActive(this)">Applications</a></li>
                               
                            </ul>                   
                        </div>
                    </div>
                </nav>

                <div  *ngIf="profile_View">
                    <div id="profile">
                <form>
                    <div class="row">
                        
                        <div class="col-md-6">
                            <label class="col-md-3 alighn-title-search-section-tab-lead-per-details">University<span style="color:#ef071e; font-size: 22px; vertical-align: -webkit-baseline-middle;">*</span></label>
                            <mat-form-field class="col-md-9 ">
                                <input matInput type="text" [(ngModel)]="University_.University_Name" name="University_.University_Name" class="input-text-item-group-diary" 
                                style="border: 1px solid #949494 !important;padding: 8px 3px !important;">
                            </mat-form-field>
                          
                        </div>

                        <div class="col-md-6">
                            <label class="col-md-3 label-down-alighn-supler-prhse-mstr-down" style="top:0px;">Country<span style="color:#ef071e; font-size: 22px; vertical-align: -webkit-baseline-middle;">*</span></label>
                            <select [(ngModel)]="Country_" name="Country_" required class="col-md-9 margin-lh-rh-to-crect-textbox select-user-block" style="max-width:70%;margin-left: 2%;">
                            <option *ngFor="let Country_T of Country_Data" [ngValue]="Country_T">{{Country_T.Country_Name}}</option>
                            </select>
                        </div> 
                        <div class="col-md-6">
                            <label class="col-md-3 label-down-alighn-supler-prhse-mstr-down" style="top:0px;">Status<span style="color:#ef071e; font-size: 22px; vertical-align: -webkit-baseline-middle;">*</span></label>
                            <select [(ngModel)]="Status_" name="University_Status_" required class="col-md-9 margin-lh-rh-to-crect-textbox select-user-block" style="max-width:70%;margin-left: 2%;">
                            <option *ngFor="let Status_T of Status_Data" [ngValue]="Status_T">{{Status_T.Status_Name}}</option>
                            </select>
                        </div>       


                        <div class="col-md-6">
                            <label class="col-md-3 label-to-crect-all-names-to-divs name-label-margin-down-employer-details-name">About</label>
                            <mat-form-field class="col-md-9 input-allighn-to-crect-wole-paddings input-allighn-typer-head-all-divs-matinputs">
                                <input matInput type="text" [(ngModel)]="University_.About" name="University_.About" class="input-text-item-group-diary" 
                                style="border: 1px solid #949494 !important;padding: 8px 3px !important;">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-3 label-to-crect-all-names-to-divs name-label-margin-down-employer-details-name">About1</label>
                            <mat-form-field class="col-md-9 input-allighn-to-crect-wole-paddings input-allighn-typer-head-all-divs-matinputs">
                                <input matInput type="text" [(ngModel)]="University_.About1" name="University_.About1" class="input-text-item-group-diary" 
                                style="border: 1px solid #949494 !important;padding: 8px 3px !important;">
                            </mat-form-field>
                          
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-3 label-to-crect-all-names-to-divs name-label-margin-down-employer-details-name">About2</label>
                            <mat-form-field class="col-md-9 input-allighn-to-crect-wole-paddings input-allighn-typer-head-all-divs-matinputs">
                                <input matInput type="text" [(ngModel)]="University_.About2" name="University_.About2" class="input-text-item-group-diary" 
                                style="border: 1px solid #949494 !important;padding: 8px 3px !important;">
                            </mat-form-field>
                          
                        </div>


                        <div class="col-md-6">
                            <label class="col-md-3 label-to-crect-all-names-to-divs name-label-margin-down-employer-details-name">Location</label>
                            <mat-form-field class="col-md-9 input-allighn-to-crect-wole-paddings input-allighn-typer-head-all-divs-matinputs">
                                <input matInput type="text" [(ngModel)]="University_.Location" name="University_.Location" class="input-text-item-group-diary" 
                                style="border: 1px solid #949494 !important;padding: 8px 3px !important;">
                            </mat-form-field>
                          
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-3 label-to-crect-all-names-to-divs name-label-margin-down-employer-details-name">Address</label>
                            <mat-form-field class="col-md-9 input-allighn-to-crect-wole-paddings input-allighn-typer-head-all-divs-matinputs">
                                <input matInput type="text" [(ngModel)]="University_.Address" name="University_.Address" class="input-text-item-group-diary" 
                                style="border: 1px solid #949494 !important;padding: 8px 3px !important;">
                            </mat-form-field>
                          
                        </div>
                        

                        <div class="col-md-6">
                            <label class="col-md-3 label-to-crect-all-names-to-divs name-label-margin-down-employer-details-name">Founded In</label>
                            <mat-form-field class="col-md-9 input-allighn-to-crect-wole-paddings input-allighn-typer-head-all-divs-matinputs">
                                <input matInput type="text" [(ngModel)]="University_.Founded_In" name="University_.Founded_In" class="input-text-item-group-diary" 
                                style="border: 1px solid #949494 !important;padding: 8px 3px !important;">
                            </mat-form-field>
                          
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-3 label-to-crect-all-names-to-divs name-label-margin-down-employer-details-name">Institution Type</label>
                            <mat-form-field class="col-md-9 input-allighn-to-crect-wole-paddings input-allighn-typer-head-all-divs-matinputs">
                                <input matInput type="text" [(ngModel)]="University_.Institution_Type" name="University_.Institution_Type" class="input-text-item-group-diary" 
                                style="border: 1px solid #949494 !important;padding: 8px 3px !important;">
                            </mat-form-field>
                          
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-3 label-to-crect-all-names-to-divs name-label-margin-down-employer-details-name">Cost Of Living</label>
                            <mat-form-field class="col-md-9 input-allighn-to-crect-wole-paddings input-allighn-typer-head-all-divs-matinputs">
                                <input matInput type="text" [(ngModel)]="University_.Cost_Of_Living" name="University_.Cost_Of_Living" class="input-text-item-group-diary" 
                                style="border: 1px solid #949494 !important;padding: 8px 3px !important;">
                            </mat-form-field>
                          
                        </div>

                        <div class="col-md-6">
                            <label class="col-md-3 label-to-crect-all-names-to-divs name-label-margin-down-employer-details-name">Tution Fee</label>
                            <mat-form-field class="col-md-9 input-allighn-to-crect-wole-paddings input-allighn-typer-head-all-divs-matinputs">
                                <input matInput type="text" [(ngModel)]="University_.Tution_Fee" name="University_.Tution_Fee" class="input-text-item-group-diary" 
                                style="border: 1px solid #949494 !important;padding: 8px 3px !important;">
                            </mat-form-field>
                          
                        </div>

                        <div class="col-md-6">
                            <label class="col-md-3 label-to-crect-all-names-to-divs name-label-margin-down-employer-details-name">Application Fee</label>
                            <mat-form-field class="col-md-9 input-allighn-to-crect-wole-paddings input-allighn-typer-head-all-divs-matinputs">
                                <input matInput type="text" [(ngModel)]="University_.Application_Fee" name="University_.Application_Fee" class="input-text-item-group-diary" 
                                style="border: 1px solid #949494 !important;padding: 8px 3px !important;">
                            </mat-form-field>
                          
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-3 label-to-crect-all-names-to-divs name-label-margin-down-employer-details-name">Type Of Accomodation</label>
                            <mat-form-field class="col-md-9 input-allighn-to-crect-wole-paddings input-allighn-typer-head-all-divs-matinputs">
                                <input matInput type="text" [(ngModel)]="University_.Type_Of_Accomodation" name="University_.Type_Of_Accomodation" class="input-text-item-group-diary" 
                                style="border: 1px solid #949494 !important;padding: 8px 3px !important;">
                            </mat-form-field>
                          
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-3 label-to-crect-all-names-to-divs name-label-margin-down-employer-details-name">Contact Number</label>
                            <mat-form-field class="col-md-9 input-allighn-to-crect-wole-paddings input-allighn-typer-head-all-divs-matinputs">
                                <input matInput type="text" [(ngModel)]="University_.Contact_Number" name="University_.Contact_Number" class="input-text-item-group-diary" 
                                style="border: 1px solid #949494 !important;padding: 8px 3px !important;">
                            </mat-form-field>
                          
                        </div>

                        <div class="col-md-6">
                            <label class="col-md-3 label-to-crect-all-names-to-divs name-label-margin-down-employer-details-name">Email</label>
                            <mat-form-field class="col-md-9 input-allighn-to-crect-wole-paddings input-allighn-typer-head-all-divs-matinputs">
                                <input matInput type="text" [(ngModel)]="University_.Email" name="University_.Email" class="input-text-item-group-diary" 
                                style="border: 1px solid #949494 !important;padding: 8px 3px !important;">
                            </mat-form-field>
                          
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-3 label-to-crect-all-names-to-divs name-label-margin-down-employer-details-name">Web</label>
                            <mat-form-field class="col-md-9 input-allighn-to-crect-wole-paddings input-allighn-typer-head-all-divs-matinputs">
                                <input matInput type="text" [(ngModel)]="University_.Web" name="University_.Web" class="input-text-item-group-diary" 
                                style="border: 1px solid #949494 !important;padding: 8px 3px !important;">
                            </mat-form-field>
                          
                        </div>

                        <div class="col-md-6">
                            <label class="col-md-3 label-to-crect-all-names-to-divs name-label-margin-down-employer-details-name">Fb</label>
                            <mat-form-field class="col-md-9 input-allighn-to-crect-wole-paddings input-allighn-typer-head-all-divs-matinputs">
                                <input matInput type="text" [(ngModel)]="University_.Fb" name="University_.Fb" class="input-text-item-group-diary" 
                                style="border: 1px solid #949494 !important;padding: 8px 3px !important;">
                            </mat-form-field>
                          
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-3 label-to-crect-all-names-to-divs name-label-margin-down-employer-details-name">Linkedin</label>
                            <mat-form-field class="col-md-9 input-allighn-to-crect-wole-paddings input-allighn-typer-head-all-divs-matinputs">
                                <input matInput type="text" [(ngModel)]="University_.Linkedin" name="University_.Linkedin" class="input-text-item-group-diary" 
                                style="border: 1px solid #949494 !important;padding: 8px 3px !important;">
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <label class="col-md-3 label-to-crect-all-names-to-divs name-label-margin-down-employer-details-name">Twitter</label>
                            <mat-form-field class="col-md-9 input-allighn-to-crect-wole-paddings input-allighn-typer-head-all-divs-matinputs">
                                <input matInput type="text" [(ngModel)]="University_.Twitter" name="University_.Twitter" class="input-text-item-group-diary" 
                                style="border: 1px solid #949494 !important;padding: 8px 3px !important;">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-3 label-to-crect-all-names-to-divs name-label-margin-down-employer-details-name">Googlemap</label>
                            <mat-form-field class="col-md-9 input-allighn-to-crect-wole-paddings input-allighn-typer-head-all-divs-matinputs">
                                <input matInput type="text" [(ngModel)]="University_.Googlemap" name="University_.Googlemap" class="input-text-item-group-diary" 
                                style="border: 1px solid #949494 !important;padding: 8px 3px !important;">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-3 label-to-crect-all-names-to-divs name-label-margin-down-employer-details-name">Sub Heading1</label>
                            <mat-form-field class="col-md-9 input-allighn-to-crect-wole-paddings input-allighn-typer-head-all-divs-matinputs">
                                <input matInput type="text" [(ngModel)]="University_.Sub_Heading1" name="University_.Sub_Heading1" class="input-text-item-group-diary" 
                                style="border: 1px solid #949494 !important;padding: 8px 3px !important;">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-3 label-to-crect-all-names-to-divs name-label-margin-down-employer-details-name">Sub Heading2</label>
                            <mat-form-field class="col-md-9 input-allighn-to-crect-wole-paddings input-allighn-typer-head-all-divs-matinputs">
                                <input matInput type="text" [(ngModel)]="University_.Sub_Heading2" name="University_.Sub_Heading2" class="input-text-item-group-diary" 
                                style="border: 1px solid #949494 !important;padding: 8px 3px !important;">
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <label class="col-md-3 label-to-crect-all-names-to-divs name-label-margin-down-employer-details-name">Sub Heading3</label>
                            <mat-form-field class="col-md-9 input-allighn-to-crect-wole-paddings input-allighn-typer-head-all-divs-matinputs">
                                <input matInput type="text" [(ngModel)]="University_.Sub_Heading3" name="University_.Sub_Heading3" class="input-text-item-group-diary" 
                                style="border: 1px solid #949494 !important;padding: 8px 3px !important;">
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <label class="col-md-3 label-to-crect-all-names-to-divs name-label-margin-down-employer-details-name">School Rank</label>
                            <mat-form-field class="col-md-9 input-allighn-to-crect-wole-paddings input-allighn-typer-head-all-divs-matinputs">
                                <input matInput type="text" [(ngModel)]="University_.School_Rank" name="University_.School_Rank" class="input-text-item-group-diary" 
                                style="border: 1px solid #949494 !important;padding: 8px 3px !important;">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-3 label-to-crect-all-names-to-divs name-label-margin-down-employer-details-name">Video Link</label>
                            <mat-form-field class="col-md-9 input-allighn-to-crect-wole-paddings input-allighn-typer-head-all-divs-matinputs">
                                <input matInput type="text" [(ngModel)]="University_.Video_Link" name="University_.Video_Link" class="input-text-item-group-diary" 
                                style="border: 1px solid #949494 !important;padding: 8px 3px !important;">
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <label class="col-md-3 label-to-crect-all-names-to-divs name-label-margin-down-employer-details-name">Sub Heading Colored</label>
                            <mat-form-field class="col-md-9 input-allighn-to-crect-wole-paddings input-allighn-typer-head-all-divs-matinputs">
                                <input matInput type="text" [(ngModel)]="University_.Sub_Heading_Colored" name="University_.Sub_Heading_Colored" class="input-text-item-group-diary" 
                                style="border: 1px solid #949494 !important;padding: 8px 3px !important;">
                            </mat-form-field>
                        </div>


                        <div class="veh-uplod-imge" style="height: 75px;">
                            <label class="col-md-3 label-crect-journal-entry-company">Banner Image</label>
                            <input type="file" id="btnUpload" value="Upload" name="Photo" [(ngModel)]="File" (change)="File_Change($event)"
                                class="upload"  />
                        </div>

                        <div  >
                            <div class="veh-uplod-imge" style="height: 75px;">
                                   <label class="col-md-3 label-crect-journal-entry-company">University Images</label>
                                   <input type="file" id="btnUpload" value="Upload" name="Photo" [(ngModel)]="University_File" (change)="University_File_Change($event)" class="upload" multiple />
                               </div> 
                            </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6 down-alighn-label-all">
                                <button mat-raised-button type="submit"[hidden]="University_Save==false" id="Save_Button" class="btn btn-danger pull-right" (click)="Save_University()">Save</button>
                                <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="Close_Click()">Close</button>
                            </div>
                        </div>

                    </div>
                    <div class="clearfix"></div>
                </form>
                    </div>
                    </div>
                 </div>
        </div>
        <div class="row" *ngIf="!Entry_View">
            <div class="col-md-12">
                <div class="card">
                    <form>
                        <div class="row">
                            <div class="col-md-4 alighyn-div-margin-search-item-group">
                                <label class="col-md-3 alighn-title-search-section-tab-lead-per-details">University</label>
                                <mat-form-field class="col-md-7 ">
                                    <input matInput type="text" [(ngModel)]="University_Name_Search" name="Search_Name" 
                                    style="border: 1px solid #949494 !important;padding: 8px 3px !important;">
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <label class="col-md-3 label-down-alighn-supler-prhse-mstr-down" style="top:0px;">Country<span style="color:#ef071e; font-size: 22px; vertical-align: -webkit-baseline-middle;">*</span></label>
                                <select [(ngModel)]="Country_Search" name="Country_Search" required class="col-md-3 margin-lh-rh-to-crect-textbox select-user-block" style="max-width:70%;margin-left: 2%;">
                                <option *ngFor="let Country_T of Country_Data" [ngValue]="Country_T">{{Country_T.Country_Name}}</option>
                                </select>
                            </div> 
                            <div class="col-md-3">
                                <label class="col-md-3 label-down-alighn-supler-prhse-mstr-down" style="top:0px;">Status<span style="color:#ef071e; font-size: 22px; vertical-align: -webkit-baseline-middle;">*</span></label>
                                <select [(ngModel)]="Status_Search" name="University_Status1_" required class="col-md-3 margin-lh-rh-to-crect-textbox select-user-block" style="max-width:70%;margin-left: 2%;">
                                <option *ngFor="let Status_T of Status_Data" [ngValue]="Status_T">{{Status_T.Status_Name}}</option>
                                </select>
                            </div> 
                           
                            <div class="col-md-2">
                                <button mat-raised-button type="submit" (click)="Search_University()" class="btn btn-danger"> <i class="fa fa-search" aria-hidden="true"></i></button> 
                                <button mat-raised-button type="submit" (click)="Create_New()" class="btn btn-danger"> <i class="fa fa-plus" aria-hidden="true"></i> </button> 
                             </div>
                           
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
            <div class="col-md-12 card-body">
                <div class="card-plain set-height-scroll-bar-wole-block" style="overflow-y: hidden;">
                    <div class="table-responsive">
                       
                        <div class="row grid_header"  style="background-color: #ebeef0;color: black;">
                            <div class="col-md-2">Sl No </div>
                            <div class="col-md-2"> University  </div>
                            <div class="col-md-1"> Edit</div>
                            <div class="col-md-1"> Delete  </div>
                        </div>
                        <cdk-virtual-scroll-viewport [style.height.px]="myInnerHeight" itemSize="90" >

   
                            <ng-container *cdkVirtualFor="let University1 of University_Data; let i = index">
                                    <div class="row grid_data">
                                            <div class="col-md-2">{{ i+1 }}</div>
                                            <div class="col-md-2">{{University1["University_Name"]}}</div>
                                            <div class="col-md-1" (click)="Edit_University(University1,i)">
                                                <button _ngcontent-gdi-c11="" [hidden]="University_Edit==false" class="btn btn-danger2" mattooltip="Edit Task" type="button" aria-describedby="cdk-describedby-message-1"
                                                         cdk-describedby-host=""ng-reflect-position="above" ng-reflect-message="Edit Task"><span class="mat-button-wrapper"><i _ngcontent-gdi-c11="" class="material-icons" 
                                                          >edit</i></span><div class="mat-button-ripple mat-ripple" matripple="" ng-reflect-centered="false" 
                                                        ng-reflect-disabled="false" ng-reflect-trigger="[object HTMLButtonElement]"></div><div class="mat-button-focus-overlay"></div>
                                                </button>  
                                            </div>
                                            <div class="col-md-1"  (click)="Delete_University(University1.University_Id,i)"> 
                                                    <button _ngcontent-gdi-c11="" [hidden]="University_Delete==false"class="btn btn-danger1" mattooltip="Remove" type="button" aria-describedby="cdk-describedby-message-1" 
                                                            cdk-describedby-host=""ng-reflect-position="above" ng-reflect-message="Remove"><span class="mat-button-wrapper"><i _ngcontent-gdi-c11="" class="material-icons" 
                                                             >close</i></span><div class="mat-button-ripple mat-ripple" matripple="" ng-reflect-centered="false" 
                                                            ng-reflect-disabled="false" ng-reflect-trigger="[object HTMLButtonElement]"></div><div class="mat-button-focus-overlay"  ></div>
                                                    </button>          
                                            </div>
                                    </div>
                            </ng-container> 
                        </cdk-virtual-scroll-viewport>
                    </div>
                </div>
            </div>
            <div class="row col-md-12">
                <label class="entry-num">Entries : {{Total_Entries}}</label>
            </div>  
        </div>
    </div> -->

<div
  *ngIf="issLoading"
  class="overlay"
  style="margin-top: 21%; margin-left: 46%; background-color: transparent"
  [style.left.px]="spinleft"
>
  <img src="/assets/img/spinner.gif" width="100px" />
</div>
<div class="main-content screenfixed new-margin-T">
  <div class="container-fluid2 right-sec right-sec col-md-11" style="margin-left: auto;">
    <div class="row" *ngIf="Entry_View">
      <div class="col-md-12 pl-0 pr-0 pt-2">
        <div class="dt-card mb-0 pb-1 pt-4">
          <div class="dt-card__body mb-0 pb-0">
            <form class="mb-0">
              <div class="form-row">
                <label class="col-md-0 col-sm-0 col-form-label text-sm-right"
                  >University Name<span
                    style="
                      color: #ef071e;
                      font-size: 22px;
                      vertical-align: -webkit-baseline-middle;
                    "
                    >*</span
                  ></label
                >
                <div class="col-md-3 col-sm-3 mb-2">
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="University_.University_Name"
                    name="University_.University_Name"
                    placeholder=""
                  />
                </div>

                <!-- Country selection -->
                <div class="col-md-6 d-flex" style="width: 200px; display: flex; align-items: center;">
                  <label class="col-md-0 col-sm-0 col-form-label text-sm-right"
                    >Country<span
                      style="
                        color: #ef071e;
                        font-size: 22px;
                        vertical-align: -webkit-baseline-middle;
                      "
                      >*</span
                    ></label
                  >
                  <select
                    [(ngModel)]="Country_"
                    (change)="chooseCountryProcess()"
                    name="Country_"
                    style="
                      max-width: 55%;
                      margin-left: 2%;
                      margin: 0px !important;
                    "
                    required
                    class="col-md-9 margin-lh-rh-to-crect-textbox select-user-block"
                  >
                    <option
                      style="margin-left: 15px !important"
                      *ngFor="let Country_T of Country_Data"
                      [ngValue]="Country_T"
                    >
                      {{ Country_T.Country_Name }}
                    </option>
                  </select>
                </div>
                <!-- /Country selection end -->

                <!-- Process selection start -->
                <div class="col-md-6 d-flex  display: flex; align-items: center;">
                  <label class="col-md-0 col-sm-0 col-form-label text-sm-right"
                    >Process<span
                      style="
                        color: #ef071e;
                        font-size: 22px;
                        vertical-align: -webkit-baseline-middle;
                      "
                      >*</span
                    ></label
                  >
                  <select
                    [(ngModel)]="processId"
                    name="processId"
                    style="
                      max-width: 49%;
                      margin-left: 8%;
                      max-height: 42px;
                    "
                    required
                    
                    class="col-md-9 margin-lh-rh-to-crect-textbox select-user-block"
                  >
                    <!-- <option
                      style="margin-left: 15px !important"
                      *ngFor="let Country_T of processList"
                      [ngValue]="Country_T.Process_Id"
                      [selected]="true"
                    >
                      {{ Country_T.Process_Name }}
                    </option> -->

                    <option
                      style="margin-left: 15px !important"
                      *ngFor="let Country_TT of processList"
                      [ngValue]="Country_TT"

                    >
                      {{ Country_TT.Process_Name }}
                    </option>
                  </select>
                </div>
                <!-- /Process selection end -->
                <label class="col-md-0 col-sm-0 col-form-label text-sm-right"
                >Gold<span
                  style="
                    color: #ef071e;
                    font-size: 22px;
                    vertical-align: -webkit-baseline-middle;
                  "
                  >*</span
                ></label
              >
              <div class="col-md-3 col-sm-3 mb-2">
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="University_.Gold"
                  name="University_.Gold"
                  placeholder=""
                />
              </div>  <label class="col-md-0 col-sm-0 col-form-label text-sm-right"
              >Silver<span
                style="
                  color: #ef071e;
                  font-size: 22px;
                  vertical-align: -webkit-baseline-middle;
                "
                >*</span
              ></label
            >
            <div class="col-md-3 col-sm-3 mb-2">
              <input
                type="text"
                class="form-control"
                [(ngModel)]="University_.Silver"
                name="University_.Silver"
                placeholder=""
              />
            </div>  <label class="col-md-0 col-sm-0 col-form-label text-sm-right"
            >Platinum<span
              style="
                color: #ef071e;
                font-size: 22px;
                vertical-align: -webkit-baseline-middle;
              "
              >*</span
            ></label
          >
          <div class="col-md-3 col-sm-3 mb-2">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="University_.Platinum"
              name="University_.Platinum"
              placeholder=""
            />
          </div>



   <!-- ----------------------------Mandatory Document----------------------------------------------------- --> 




          <div class="table-responsive" style=" height: 200px; margin-top: 20px;">                       
            <table class="table table-hover colour-change-title-searchsection-table heading-styles-as-gmail-format" style="font-size: 15px; background: #f1f1f1; border: solid 1px #dad0d0;">
                <thead>                            
                    <th class="crect-margin-width-table-header-title">Sl.No</th>             
                    <th>Document </th>
                    <th>Agent Mandatory</th>
                    <th>Agent Document</th>                      
                </thead>
                <tbody *ngFor="let Document_Data_1 of Document_View_Data; let i = index">
                    <tr>
                        <td>{{i+1}}</td>
                        <td>{{Document_Data_1["Document_Name"]}}</td>
                        <td class="crect-align-tblelst-view-user">
                          <div class="form-check">
                              <label class="form-check-label">
                                  <input type="checkbox" name="agentMandatory{{Document_Data_1.Document_Id}}"
                                         class="form-check-input" [(ngModel)]="Document_Data_1.Agent_Mandatory">
                                  <span class="form-check-sign" style="margin-top: 15px;">
                                      <span class="check"></span>
                                  </span>
                              </label>
                          </div>
                      </td>
                      <td class="crect-align-tblelst-view-user">
                          <div class="form-check">
                              <label class="form-check-label">
                                  <input type="checkbox" name="agentDocument{{Document_Data_1.Document_Id}}"
                                         class="form-check-input" [(ngModel)]="Document_Data_1.Agent_Document">
                                  <span class="form-check-sign" style="margin-top: 15px;">
                                      <span class="check"></span>
                                  </span>
                              </label>
                          </div>
                      </td>
                    </tr>
                </tbody>
            </table> 
        </div>
        
                <!-- Buttonse -->
                <div class="col-md-4 col-lg-4 mt-0" style="padding: 3px">
                  <!-- Save button -->
                  <button
                    (click)="Save_University()"
                    mat-raised-button
                    type="submit"
                    class="save-button-style pull-left mr-1"
                  >
                    Save
                  </button>
                  <!-- /Save button -->

                  <!-- Close button -->
                  <button
                    (click)="Close_Click()"
                    mat-raised-button
                    type="submit"
                    class="close-button-style pull-left mr-1"
                  >
                    Close
                  </button>

                  <button
                  *ngIf="University_.University_Id > 0"
  (click)="update_commission()"
  mat-raised-button
  type="submit"
  class="close-button-style pull-left mr-1"
>
  Update Commission
</button>
                  <!-- /Close button -->
                </div>
                <!-- /Buttonse -->
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-2" *ngIf="!Entry_View">
      <div class="col-md-12 pl-0 pr-0 pt-0 mb-2">
        <div class="dt-card mb-0 pb-1 pt-3">
          <div class="dt-card__body mb-0 pb-0">
            <form class="mb-0">
              <div class="form-row" style="padding-left: 10px">
                <label class="col-md-0 col-sm-0 col-form-label text-sm-right"
                  >University Name</label
                >
                <div class="col-md-4 col-lg-3 mb-2">
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="University_Name_Search"
                    name="University_Name"
                    placeholder=""
                  />
                </div>



                <label
                class="col-form-label"
                >Country</label
              >
              <!-- <div class="col-md-3 col-sm-3 mb-1">
          <input type="text" [(ngModel)]="Student_.Country_Name" name="Student_.Country_Name" class="form-control" placeholder="Country">
        </div>                         -->
              <div class="col-md-3 col-lg-2 mb-1 mt-1">
                <input
                  Input
                  type="text"
                  class="form-control"
                  [matAutocomplete]="autoc8"
                  placeholder=""
                  [(ngModel)]="Profile_Country_"
                  name="Profile_Country_"
                  id="Profile_Country_"
                  (click)="Search_Country_Typeahead($event)"
                  (keyup)="Search_Country_Typeahead($event)"
                 
                />
              </div>
              <mat-autocomplete
                #autoc8="matAutocomplete"
                [displayWith]="display_Country"
              >
                <mat-option *ngIf="issLoading">
                  <mat-spinner diameter="500"></mat-spinner>
                </mat-option>
                <ng-container *ngIf="!issLoading">
                  <mat-option
                    *ngFor="let Program_Country_T of Country_Data_Filter"
                    [value]="Program_Country_T"
                  >
                    <span name="Program_Country_T.Country_Name">{{
                      Program_Country_T.Country_Name
                    }}</span>
                  </mat-option>
                </ng-container>
              </mat-autocomplete>



                <div class="col-md-4 col-lg-4 mt-0">
                  <button
                    (click)="Search_University()"
                    mat-raised-button
                    type="submit"
                    class="other-button-style pull-left mr-1"
                  >
                    Search
                  </button>
                  <button
                    (click)="Create_New()"
                    mat-raised-button
                    type="submit"
                    class="save-button-style pull-left mr-1"
                  >
                    Create New
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div
        class="col-md-12 pl-0 pr-0 mt-0"
        [style.height.px]="myInnerHeight"
        itemSize="10"
      >
        <div class="dt-module">
          <div class="dt-module__container">
            <!-- style="overflow: scroll;"[style.height.px]="myTotalHeight" -->
            <div class="dt-module__content ps-custom-scrollbar">
              <div
                class="dt-module__content-inner pl-0 pr-0 card-body set-height-scroll-bar-wole-block"
              >
                <div
                  class="dt-module__list pl-0 pr-0"
                  [style.height.px]="myInnerHeight"
                  style="overflow-y: scroll"
                  id="profile"
                >
                  <!-- <div class="card-body set-height-scroll-bar-wole-block"> -->
                  <div
                    class="dt-module__list-item pb-2 pt-2"
                    *ngFor="let University_ of University_Data; let i = index"
                  >
                    <div class="dt-module__list-item-content">
                      <div class="user-detail">
                        <span
                          class="icon-background2 mr-1"
                          (click)="Edit_University(University_, i)"
                        >
                          <mat-icon class="text-green small"
                            >edit</mat-icon
                          ></span
                        >
                        <span
                          class="icon-background3 mr-1"
                          (click)="
                            Delete_University(University_.University_Id, i)
                          "
                        >
                          <mat-icon class="text-red small"
                            >close</mat-icon
                          ></span
                        >

                        <span class="user-name">{{
                          University_["University_Name"]
                        }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
