<div *ngIf="issLoading" class="overlay" 

style="margin-top: 21%;margin-left:46% ;
background-color: transparent;"
[style.left.px]="spinleft">
	
	

    <img src="/assets/img/spinner.gif" width="100px" >

</div>
  <div class="main-content screenfixed new-margin-T dash_big_screen">
  <div class="container-fluid2 ">
  
  
  <div class="row" *ngIf="Entry_View">
  
    <div class="col-md-12 pr-0 pl-0 pt-2 pt-3">
      <div class="dt-card mb-0 pb-1 pt-4 ">         
          <div class="dt-card__body mb-0 pb-0">
              <form class="mb-0">           
              <div class="form-row">
                  <label class="col-md-0 col-sm-0 col-form-label text-sm-right">Data Field Name<span style="color:#ef071e; font-size: 22px; vertical-align: -webkit-baseline-middle;">*</span></label>
                  <div class="col-md-3 col-sm-3 mb-2">
                      <input type="text" class="form-control" [(ngModel)]="Data_Field_.Fields_Name"  name="Data_Field_.Fields_Name"   placeholder="Data Field Name">
                     
                  </div>

                  <label
                    for="normal-input-4"
                    class="col-md-6 col-sm-3 col-form-label text-sm-right"
                    style="background: transparent"
                    >Data Type<span style="color:#ef071e; font-size: 22px; vertical-align: -webkit-baseline-middle;">*</span></label
                  >
                  <div class="col-md-6 col-sm-9">
                    <select
                      name="Data_Type"
                      [(ngModel)]="Data_Type"
                      required
                      class="form-control p-0 pl-1"
                      id="normal-input-4"
                    >
                    <option value="0">Select</option>
                      <option value="1">Text</option>
                      <option value="2">Date</option>
                    </select>
                  </div>


                  
                  <div class="col-md-4 col-sm-4 mt-0">    
                  
                       <button (click)="Save_DataField()" *ngIf="Fees_Save" mat-raised-button type="submit" class="save-button-style pull-left mr-1">Save</button>
                       <button (click)="Close_Click()" mat-raised-button type="submit" class="close-button-style pull-left mr-1 ">Close</button> 
                      </div>
              </div>
          </form>
          </div>
      </div>        
    </div> 
  
  
  
  </div>
  
  <div class="row" *ngIf="!Entry_View">
   <div class="col-md-12 pl-0 pr-0  mb-2 mt-3">
    <div class="dt-card mb-0 pb-1 pt-3 ">         
        <div class="dt-card__body mb-0 pb-0">
            <form class="mb-0">           
            <div class="form-row">
                <label class="col-md-0 col-sm-0 col-form-label text-sm-right">Data Field Name</label>
                <div class="col-md-3 col-sm-3 mb-2">
                    <input type="text" class="form-control" [(ngModel)]="Data_Field_Name_Search" name="Data_Field"  placeholder="Data Field Name">
                   
                </div>
                
                <div class="col-md-4 col-lg-4 mt-0">                    
                     <button (click)="Search_DataFields()" mat-raised-button type="submit"  class="other-button-style pull-left mr-1">Search</button>
                     <button (click)="Create_New()" mat-raised-button type="submit" class="save-button-style pull-left mr-1 ">Create New</button>

                    </div>
            </div>
        </form>
        </div>
    </div>        
  </div> 
  
  

  
  
  <div class="col-md-12 pr-0 pl-0"  [style.height.px]="myInnerHeight" itemSize="10">
    <div class="dt-module" >            
        <div class="dt-module__container" >
            <div class="dt-module__content ps-custom-scrollbar">
                <div class="dt-module__content-inner pl-0 pr-0 card-body set-height-scroll-bar-wole-block">   
                    <div class="dt-module__list pl-0 pr-0" [style.height.px]="myInnerHeight"
                    style="overflow-y: scroll"
                    id="profile">
                        <div class="dt-module__list-item pb-2 pt-2" *ngFor="let Fees of Data_Field_Data; let i = index"> 
                            <div class="dt-module__list-item-content">
                                <div class="user-detail">

                                    <span class="icon-background2 mr-1" *ngIf="Fees_Edit" (click)="Edit_Data_Field(Fees,i)" > <mat-icon class="text-green small" >edit</mat-icon></span>
                                    <span class="icon-background3 mr-1" *ngIf="Fees_Delete" (click)="Delete_DataFields(Fees.Fields_Id,i)" > <mat-icon class="text-red small" >close</mat-icon></span>
        

                                    <span class="user-name">{{Fees["Fields_Name"]}}</span>
                                  
                                </div>
                              
                            </div>                                
                        </div>
                       

                     
                    </div>
                </div>
             
            </div>
          
        </div>
       
      </div>
  </div>  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  </div>
  </div>
    