<div class="main-content login-pge-hght"> 
  <div class="container">
    <div class="login-mrgn">
    <div class="row" style="align-items: center;">
      <div class="col-md-6 main-logo-login mt-0" style="    padding: 180px 0;">
        <div class="login-logo">
          <img src="assets/img/student.jpg" class="img-fluid mt-0" alt="Responsive image" />
        </div>
      </div>
      <div class="col-md-6" style="    padding: 180px 0;  ">
        <div class="login-box-logo-contents" style="    border-left: solid 1px #0000000f;
        border-radius: 0;">
          <router-outlet></router-outlet>
        </div>
      </div>
    <!-- <div class="col-md-4 main-logo-login"> -->
       <!-- <img src="assets/img/login-bg.jpg" class="img-fluid" alt="Responsive image"/>-->
      <!-- </div> -->
    </div>
   </div>
  </div>
</div>

<app-footer class="login-fotter"></app-footer>