<div class="logo">
  <a  class="simple-text">
    <div class="logo-img">
      Trackbox
      <!--<img src="/assets/img/logo-ubill.png" />-->
    </div>
    <!-- Trackbox -->
  </a>
</div>
<div class="sidebar-wrapper" style="padding-bottom: 0px;">
  <div *ngIf="isMobileMenu()">
    <form class="navbar-form">
      <span class="bmd-form-group">
        <div class="input-group no-border">
          <input
            type="text"
            value=""
            class="form-control"
            placeholder="Search..." />
          <button
            mat-raised-button
            type="submit"
            class="btn btn-white btn-round btn-just-icon" >
            <i class="material-icons">search</i>
            <div class="ripple-container"></div>
          </button>
        </div>
      </span>
    </form>
    <ul class="nav navbar-nav nav-mobile-menu">
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)">
          <i class="material-icons">dashboard</i>
          <p>
            <span class="d-lg-none d-md-block">Stats</span>
          </p>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link"
          href="javascript:void(0)"
          id="navbarDropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
          <i class="material-icons">notifications</i>
          <span class="notification">5</span>
          <p>
            <span class="d-lg-none d-md-block">Some Actions</span>
          </p>
        </a>
        <div
          class="dropdown-menu dropdown-menu-right"
          aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Mike John responded to your email</a>
          <a class="dropdown-item" href="#">You have 5 new tasks</a>
          <a class="dropdown-item" href="#">You're now friend with Andrew</a>
          <a class="dropdown-item" href="#">Another Notification</a>
          <a class="dropdown-item" href="#">Another One</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)">
          <i class="material-icons">person</i>
          <p>
            <span class="d-lg-none d-md-block">Account</span>
          </p>
        </a>
      </li>
    </ul>
  </div>
  <ul class="nav" style="margin-top: 0px;">
    <li><a class="nav-link" style="margin: 0 0px;">
      <i class="fa fa-user-circle-o" aria-hidden="true" 
      style="margin-top:-2px;margin-left:5px;margin-right:5px;font-size: 15px;"></i>{{uname}}</a></li>
    <li><a class="nav-link" class="nav-link" (click)='logout()' style="cursor:pointer" >
      <i class="fa fa-power-off " aria-hidden="true" 
      style="margin-top:-2px;margin-left:5px;margin-right:5px;font-size: 15px;"></i>Logout</a></li>
 
    <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{ menuItem.class }} nav-item">
      <a *ngIf="menuItem.Menu_Type==true" class="nav-link" [routerLink]="[menuItem.path]">
        <i class="material-icons" style="margin-left: 5px;margin-right: 5px; color: teal;">view_list</i>
        <p style="color:black">{{ menuItem.title }}
        </p>
      </a>    
    </li>   

</ul>
</div>