body{
    /*background-color: #ffffff;
    color: $black-color;
    font-weight: 300;*/
    background-color: #ffffff;
    color: #757575;
    font-weight: 300;
    // font-family: "NoirPro",sans-serif;
    margin: 0;
}

legend {
  border-bottom: 0;
}

.serif-font{
    font-family: $font-family-serif;
}

// Prevent highlight on mobile
* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  &:focus {
    outline: 0;
  }
}

a{
  color: $link-color;
  &:hover,
  &:focus{
      color: darken($link-color, 5%);
      text-decoration: none;
  }

  &.text-info{
      &:hover, &:focus{
          color: darken($brand-info, 5%);
      }
  }

  & .material-icons {
    vertical-align: middle;
  }
}

.form-check,
label{
    font-size: 12px;
    line-height: 1.42857;
    color: #141414;
    font-weight: 600;
}

/*           Animations              */
.animation-transition-general{
    @include transition-all($general-transition-time, $transition-linear);
}

.animation-transition-slow{
    @include transition-all($slow-transition-time, $transition-linear);
}

.animation-transition-fast{
    @include transition-all($fast-transition-time, $transition-ease);
}

.caret,
.sidebar a{
    @include transition-all($fast-transition-time, $transition-ease-in);
}
#map {
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(100vh - 70px);
    margin-top: 70px;
}
.label-style-hsn-diary{ float: left; margin-top: 33px; margin-left: 15px;}
.margin-crect-dte-account-group-diary{padding-left: 0px;}
.checkbox-to-crect-sales-search-section{ float: left;}
.date-label-crect-search-sales-section{ float: left;  margin-top:25px; padding: 0px 10px;}
.date-label-crect-purchase-master-section{ float: left;  margin-top:0px; padding: 0px 10px;}
.input-sction-margin-to-crect{ float: right; margin-top: 10px; }
.entry-num{float: left; display: inline; margin-left: 15px; margin-right: 15px;}
.margin-to-crect-chckbx-alighn{ margin-top: 7px; margin-left: 4px;}
.margin-down-date-label-contra{top: -4px;}
.name-crect-margin-top-recipt-voucher{ top: -12px; }
.top-to-crect-checkboxes-recipt-voucher{ top: 12px;}
.uper-dte-lbel-sales-sctn-new{margin-top: 8px !important;}

