
::ng-deep .mat-form-field-infix {
    width: 100px !important;
  }

  @media only screen and (min-width: 1281px) {
    .dash_big_screen{
    margin-left: 90px;
    }
  }
  @media only screen and (max-width: 1280px) {
        .dash_big_screen{
            margin-left: 60px;
        }
  }