<!-- <div *ngIf="issLoading" class="overlay">
	<mat-progress-spinner
		class="spinner"
		[color]="color"
		[mode]="mode"
		[value]="value"
	>
	</mat-progress-spinner>
</div> -->
<div *ngIf="issLoading" class="overlay" 
style="margin-top: 21%;margin-left:46% ;
background-color: transparent;"
[style.left.px]="spinleft">
<img src="/assets/img/spinner.gif" width="100px" >
</div>
<div class="main-content screenfixed new-margin-T dash_big_screen">
	<div class="container-fluid2 ">
		<div class="row mt-2" *ngIf="Entry_View">
			<div class="col-md-12 pr-0 pl-0">
				<div class="dt-card mb-0 pb-1">
					<div class="dt-card__body mb-0 pb-0">
						<form class="mb-0">
							<div class="form-row">
								<label class="col-md-2 col-lg-1 col-form-label text-sm-right"
									>Freelancer<span
										style="
											color: #ef071e;
											font-size: 22px;
											vertical-align: -webkit-baseline-middle;
										"
										>*</span
									></label
								>
								<div class="col-md-4 col-lg-4 mb-2">
									<!-- <input
																		type="text"
																		class="form-control"
																		[(ngModel)]="Agent_Details_.Agent_Name"
																		name="Agent_Details_.Agent_Name"
																		placeholder=""
																	/> -->
									<input Input type="text" class="form-control" [matAutocomplete]="autoc5" placeholder="" [(ngModel)]="temp"
										name="Course_" (click)="Search_Name_Typeahead($event)" (keyup)="Search_Name_Typeahead($event)" />
										<!-- <select [(ngModel)]="temp" [ngModelOptions]=" {standalone: true}" id="User1_" required class="form-control p-0 pl-1 ">
											<option *ngFor="let User_T of Users_Data" [ngValue]="User_T">{{User_T.User_Details_Name}}</option>
										</select>  -->
								</div>
								<mat-autocomplete #autoc5="matAutocomplete" [displayWith]="display_Course_1">
									<mat-option *ngIf="issLoading">
										<mat-spinner diameter="500"></mat-spinner>
									</mat-option>
									<ng-container *ngIf="!issLoading">
										<mat-option *ngFor="let Course_T of Users_Data_Filter" [value]="Course_T">
											<span name="Course_T.User_Details_Name">{{
												Course_T.User_Details_Name
												}}</span>
										</mat-option>
									</ng-container>
								</mat-autocomplete>
								<!-- </div> -->
								<div class="col-md-1 col-sm-0"></div>
								<!-- <div class="form-row" > -->
								<label class="col-md-1 col-lg-2 col-form-label text-sm-right"
									>Amount<span
										style="
											color: #ef071e;
											font-size: 22px;
											vertical-align: -webkit-baseline-middle;
										"
										>*</span
									>
								</label>
								<div class="col-md-4 col-lg-4 mb-2 ">
									<input
										type="number"
										class="form-control"
										[(ngModel)]="Agent_Details_.Amount" [ngModelOptions]=" {standalone: true}"
										name="Agent_Details_.Phone"
										placeholder=""
									/>
								</div>


								<div class="col-md-1 col-sm-0"></div>
								
							</div>

							



							






								<div class="col-md-12 row" style="display: flex;
    flex-direction: row-reverse;">
									<button
										mat-raised-button
										type="submit"
										[hidden]="Agent_Details_Save == false"
										id="Save_Button"
										class="save-button-style pull-right mr-1"
										(click)="Save_Agent_Details()"
									>
										Save
									</button>
									<button
										mat-raised-button
										type="submit"
										class="close-button-style pull-right mr-1"
										(click)="Close_Click()"
									>
										Close
									</button>
								</div>
							










						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-2" *ngIf="!Entry_View">
			<div class="col-md-12 pr-0 pl-0 mb-5">
				<div class="dt-card mb-2 pb-1">
					<div class="dt-card__body mb-0 pb-0">
						<form class="mb-0">
							<div class="form-row" style="padding-left: 10px">
								<label
									class="col-md-0 col-sm-0 col-form-label text-sm-right mr-0"
									>From</label
								>
								<div class="col-md-2 col-sm-2 mb-1">
									<mat-form-field class="pading_tab form-control mrgn-crct-input-text-div-tre-prt-sles1" 
									>
										<input matInput [matDatepicker]="dp1" placeholder=""[(ngModel)]="FromDate" name="Search_FromDate"  > 
										<mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
										<mat-datepicker #dp1></mat-datepicker>
										</mat-form-field>
								</div> 
								<label
									class="col-md-0 col-sm-0 col-form-label text-sm-right mr-0"
									>To</label
								>
								<div class="col-md-2 col-sm-2 mb-1">
								
								   <mat-form-field class="pading_tab form-control mrgn-crct-input-text-div-tre-prt-sles1"
								   >
								   <input matInput [matDatepicker]="dpdate" placeholder=""  [(ngModel)]="ToDate" name="Search_ToDate"> 
								   <mat-datepicker-toggle matSuffix [for]="dpdate"></mat-datepicker-toggle>
								   <mat-datepicker #dpdate></mat-datepicker>
								   </mat-form-field>
								 </div> 
								<label
									class="col-md-0 col-sm-0 col-form-label text-sm-right mr-0"
									>Freelancer</label
								>

								<div class="col-md-3 col-sm-3 mb-2">
									<!-- <input
										type="text"
										class="form-control"
										[(ngModel)]="Agent_Details_Name_Search"
										name="Agent_Details_Name_Search"
										placeholder=""
									/> -->
									<input Input type="text" class="form-control" [matAutocomplete]="autoc5" placeholder="" [(ngModel)]="Agent_Details_Name_Search"
										name="Course_" (click)="Search_Name_Typeahead($event)" (keyup)="Search_Name_Typeahead($event)" />
										<!-- <select [(ngModel)]="temp" [ngModelOptions]=" {standalone: true}" id="User1_" required class="form-control p-0 pl-1 ">
											<option *ngFor="let User_T of Users_Data" [ngValue]="User_T">{{User_T.User_Details_Name}}</option>
										</select>  -->
								
								<mat-autocomplete #autoc5="matAutocomplete" >
									<mat-option *ngIf="issLoading">
										<mat-spinner diameter="500"></mat-spinner>
									</mat-option>
									<ng-container *ngIf="!issLoading">
										<mat-option *ngFor="let Course_T of Users_Data_Filter" [value]="Course_T.User_Details_Name">
											<span name="Course_T.User_Details_Name">{{
												Course_T.User_Details_Name
												}}</span>
										</mat-option>
									</ng-container>
								</mat-autocomplete>
								</div>

								<div class="col-md-0 col-sm-0 mt-0 ml-1">
									<button
										(click)="Search_Agent_Details()"
										mat-raised-button
										type="submit"
										class="other-button-style pull-left mr-1"
									>
										Search
									</button>
									<button
										(click)="Create_New()"
										mat-raised-button
										type="submit"
										class="save-button-style pull-left mr-1"
									>
										Create New
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>

			<div class="col-md-12 pr-0 pl-0 mt-0">
				<div class="dt-module">
					<div class="dt-module__container">
						<div class="dt-module__content ps-custom-scrollbar">
							<div
								class="dt-module__content-inner pl-0 pr-0 card-body set-height-scroll-bar-wole-block"
							>
								<!-- <div class="dt-module__list pl-0 pr-0">
									<div
										class="dt-module__list-item pb-2 pt-2"
										*ngFor="
											let Agent_Details_1 of Agent_Details_Data;
											let i = index
										"
									>
										<div class="dt-module__list-item-content">
											<div class="user-detail">
												<span
													class="icon-background2 mr-1"
													*ngIf="Agent_Details_Edit"
													(click)="Edit_Agent_Details(Agent_Details_1, i)"
												>
													<mat-icon class="text-green small"
														>edit</mat-icon
													></span
												>
												<span
													class="icon-background3 mr-1"
													*ngIf="Agent_Details_Delete"
													(click)="
														Delete_Agent_Details(Agent_Details_1.Agent_Id, i)
													"
												>
													<mat-icon class="text-red small"
														>close</mat-icon
													></span
												>

												<span class="user-name">{{
													Agent_Details_1["Agent_Name"]
												}}</span>
											</div>
										</div>
									</div>
								</div> -->

								<table class="table table-hover colour-change-title-searchsection-table heading-styles-as-gmail-format">
									<thead>
									  <th>
										No
									  </th>
									  <th>
										Freelancer
									  </th>
			
									  <th>
									   Amount
									  </th>
									  <th>
										Options
									  </th>
									</thead>
									<tbody *ngFor="let Lead of Agent_Details_Data; let i = index">
									  <tr>
										<td>
									  {{i+1}}
										</td>
			
										  <td>
											{{Lead["Agent_Name"]}}
											</td>
			
											<td>
											  {{Lead["Amount"]}}
											  </td>
											  <td>
												<span
												class="icon-background2 mr-1"
												*ngIf="Agent_Details_Edit"
												(click)="Edit_Agent_Details(Lead, i)"
											>
												<mat-icon class="text-green small"
													>edit</mat-icon
												></span
											>
											<span
												class="icon-background3 mr-1"
												*ngIf="Agent_Details_Delete"
												(click)="
													Delete_Agent_Details(Lead.influencer_payment_id, i)
												"
											>
												<mat-icon class="text-red small"
													>close</mat-icon
												></span
											>
												</td>
											
									  </tr>
									  </tbody>
									</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
